In [ ]:
# üöÄ SPARK SETUP FOR GOOGLE COLAB (Stable & Tested)

# 1Ô∏è‚É£ Install Java, Spark, and Findspark
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.5.0/spark-3.5.0-bin-hadoop3.tgz
!tar xf spark-3.5.0-bin-hadoop3.tgz
!pip install -q findspark pyspark

# 2Ô∏è‚É£ Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.0-bin-hadoop3"
os.environ["PYSPARK_PYTHON"] = "/usr/bin/python3"
os.environ["PATH"] += ":/content/spark-3.5.0-bin-hadoop3/bin"

# 3Ô∏è‚É£ Initialize Spark
import findspark
findspark.init("/content/spark-3.5.0-bin-hadoop3")

from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("Spark_Practicals_Colab") \
    .config("spark.ui.showConsoleProgress", "false") \
    .getOrCreate()

# 4Ô∏è‚É£ Import Common Libraries
from pyspark.sql import Row
from pyspark.sql.types import *
from pyspark.sql import functions as F
from pyspark.ml.feature import VectorAssembler, StringIndexer
from pyspark.ml.classification import LogisticRegression
from pyspark.ml import Pipeline

print("‚úÖ Spark Setup Complete! Version:", spark.version)

In [3]:
# ------------------------------------------------------------
# 1. Parallelize (create RDD from a Python list)
# ------------------------------------------------------------
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("RDD_Practical") \
    .config("spark.sql.shuffle.partitions", "2") \
    .getOrCreate()

sc = spark.sparkContext
print("SparkContext initialized:", sc)

data = [1, 2, 3, 4, 5, 6]
rdd1 = sc.parallelize(data)
print("Parallelized RDD:", rdd1.collect())

# ------------------------------------------------------------
# 2. Read Text File into RDD
# ------------------------------------------------------------
# Create a sample text file
with open("sample_text.txt", "w") as f:
    f.write("Hello Spark\n")
    f.write("RDD Basics\n")
    f.write("PySpark in Colab\n")

text_rdd = sc.textFile("sample_text.txt")
print("Text File RDD:", text_rdd.collect())

# ------------------------------------------------------------
# 3. Read Multiple Text Files into RDD
# ------------------------------------------------------------
# Create more text files
with open("text1.txt", "w") as f:
    f.write("File One\nLine A\nLine B\n")
with open("text2.txt", "w") as f:
    f.write("File Two\nLine C\nLine D\n")

multi_text_rdd = sc.textFile("text*.txt")
print("Multiple Text Files RDD:", multi_text_rdd.collect())

# ------------------------------------------------------------
# 4. Read CSV File into RDD
# ------------------------------------------------------------
# Create a sample CSV file
with open("sample.csv", "w") as f:
    f.write("id,name,age\n")
    f.write("1,Alice,23\n")
    f.write("2,Bob,30\n")
    f.write("3,Charlie,28\n")

csv_rdd = sc.textFile("sample.csv")
csv_parsed = csv_rdd.map(lambda line: line.split(","))
print("CSV RDD:", csv_parsed.collect())

# ------------------------------------------------------------
# 5. Create Empty RDD
# ------------------------------------------------------------
empty_rdd = sc.emptyRDD()
print("Empty RDD Count:", empty_rdd.count())

# ------------------------------------------------------------
# 6. RDD Actions
# ------------------------------------------------------------
print("Count:", rdd1.count())
print("First Element:", rdd1.first())
print("Sum:", rdd1.sum())
print("Take 3:", rdd1.take(3))

# ------------------------------------------------------------
# 7. Pair RDD Functions (key-value pairs)
# ------------------------------------------------------------
pair_rdd = rdd1.map(lambda x: (x, x*2))
print("Pair RDD:", pair_rdd.collect())

# Example: word count
word_rdd = sc.parallelize(["hello world", "hello spark", "spark rdd"])
word_pairs = word_rdd.flatMap(lambda line: line.split(" ")) \
                     .map(lambda word: (word, 1)) \
                     .reduceByKey(lambda a,b: a+b)
print("Word Count:", word_pairs.collect())

# ------------------------------------------------------------
# 8. Repartition and Coalesce
# ------------------------------------------------------------
print("Original Partitions:", rdd1.getNumPartitions())
rdd_repart = rdd1.repartition(4)
print("Repartitioned Partitions:", rdd_repart.getNumPartitions())
rdd_coalesce = rdd_repart.coalesce(2)
print("Coalesced Partitions:", rdd_coalesce.getNumPartitions())

# ------------------------------------------------------------
# 9. Shuffle Partitions (configure shuffle)
# ------------------------------------------------------------
spark.conf.set("spark.sql.shuffle.partitions", "5")
print("Shuffle Partitions set to:", spark.conf.get("spark.sql.shuffle.partitions"))

# ------------------------------------------------------------
# 10. Broadcast Variables
# ------------------------------------------------------------
broadcast_var = sc.broadcast([10,20,30])
print("Broadcast Value:", broadcast_var.value)

# ------------------------------------------------------------
# 11. Accumulator Variables
# ------------------------------------------------------------
accum = sc.accumulator(0)

def add_accum(x):
    global accum
    accum += x

rdd1.foreach(add_accum)
print("Accumulator Sum:", accum.value)

# ------------------------------------------------------------
# 12. Convert RDD to DataFrame
# ------------------------------------------------------------
df_from_rdd = csv_parsed.toDF(["id", "name", "age"])
df_from_rdd.show()

SparkContext initialized: <SparkContext master=local[*] appName=Spark_Practicals_Colab>
Parallelized RDD: [1, 2, 3, 4, 5, 6]
Text File RDD: ['Hello Spark', 'RDD Basics', 'PySpark in Colab']
Multiple Text Files RDD: ['File One', 'Line A', 'Line B', 'File Two', 'Line C', 'Line D']
CSV RDD: [['id', 'name', 'age'], ['1', 'Alice', '23'], ['2', 'Bob', '30'], ['3', 'Charlie', '28']]
Empty RDD Count: 0
Count: 6
First Element: 1
Sum: 21
Take 3: [1, 2, 3]
Pair RDD: [(1, 2), (2, 4), (3, 6), (4, 8), (5, 10), (6, 12)]
Word Count: [('hello', 2), ('world', 1), ('rdd', 1), ('spark', 2)]
Original Partitions: 2
Repartitioned Partitions: 4
Coalesced Partitions: 2
Shuffle Partitions set to: 5
Broadcast Value: [10, 20, 30]
Accumulator Sum: 21
+---+-------+---+
| id|   name|age|
+---+-------+---+
| id|   name|age|
|  1|  Alice| 23|
|  2|    Bob| 30|
|  3|Charlie| 28|
+---+-------+---+

In [4]:

import findspark
findspark.init()

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

# Create Spark session
spark = SparkSession.builder \
    .appName("Practical2_DataFrameOps") \
    .config("spark.sql.shuffle.partitions", "2") \
    .getOrCreate()

# 1. Create an empty DataFrame
empty_df = spark.createDataFrame([], StructType([]))
print("Empty DataFrame:")
empty_df.show()

# 2. Create an empty Dataset (in PySpark = typed DataFrame)
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True)
])
empty_ds = spark.createDataFrame([], schema)
print("Empty Dataset (typed DataFrame):")
empty_ds.show()

# Create sample DataFrame for next operations
data = [
    (1, "Alice", 2000, "HR"),
    (2, "Bob", 2500, "IT"),
    (3, "Cathy", 3000, "IT"),
    (4, "David", None, "Finance"),
    (5, "Eve", 2800, "Finance"),
    (6, "Frank", None, "HR")
]
columns = ["id", "name", "salary", "dept"]
df = spark.createDataFrame(data, columns)

# 3. Rename nested column (simulate nested structure)
nested_schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("info", StructType([
        StructField("name", StringType(), True),
        StructField("salary", IntegerType(), True)
    ]))
])
nested_data = [(1, ("Alice", 2000)), (2, ("Bob", 2500))]
nested_df = spark.createDataFrame(nested_data, nested_schema)
renamed_df = nested_df.withColumnRenamed("info.name", "employee_name")
print("Rename nested column:")
renamed_df.show()

# 4. Add or Update a column
df = df.withColumn("bonus", col("salary") * 0.1)
print("Added Bonus column:")
df.show()

# 5. Drop a column
df_drop = df.drop("bonus")
print("After Dropping Bonus column:")
df_drop.show()

# 6. Add literal constant
df_lit = df.withColumn("Country", lit("India"))
print("Added constant column:")
df_lit.show()

# 7. Change column data type
df_cast = df.withColumn("salary", col("salary").cast("double"))
print("Salary converted to double:")
df_cast.show()

# 8. Pivot & Unpivot
sales_data = [
    ("Q1", "ProductA", 100),
    ("Q1", "ProductB", 150),
    ("Q2", "ProductA", 200),
    ("Q2", "ProductB", 250),
]
sales_df = spark.createDataFrame(sales_data, ["quarter", "product", "revenue"])

pivot_df = sales_df.groupBy("quarter").pivot("product").sum("revenue")
print("Pivot Example:")
pivot_df.show()

unpivot_df = pivot_df.selectExpr("quarter", "stack(2, 'ProductA', ProductA, 'ProductB', ProductB) as (product, revenue)")
print("Unpivot Example:")
unpivot_df.show()

# 9. Create DataFrame using StructType & StructField
custom_schema = StructType([
    StructField("emp_id", IntegerType(), True),
    StructField("emp_name", StringType(), True),
    StructField("emp_salary", DoubleType(), True)
])
custom_data = [(101, "John", 5000.0), (102, "Mike", 6000.0)]
custom_df = spark.createDataFrame(custom_data, custom_schema)
print("Custom schema DataFrame:")
custom_df.show()

Empty DataFrame:
++
||
++
++

Empty Dataset (typed DataFrame):
+---+----+
| id|name|
+---+----+
+---+----+

Rename nested column:
+---+-------------+
| id|         info|
+---+-------------+
|  1|{Alice, 2000}|
|  2|  {Bob, 2500}|
+---+-------------+

Added Bonus column:
+---+-----+------+-------+-----+
| id| name|salary|   dept|bonus|
+---+-----+------+-------+-----+
|  1|Alice|  2000|     HR|200.0|
|  2|  Bob|  2500|     IT|250.0|
|  3|Cathy|  3000|     IT|300.0|
|  4|David|  NULL|Finance| NULL|
|  5|  Eve|  2800|Finance|280.0|
|  6|Frank|  NULL|     HR| NULL|
+---+-----+------+-------+-----+

After Dropping Bonus column:
+---+-----+------+-------+
| id| name|salary|   dept|
+---+-----+------+-------+
|  1|Alice|  2000|     HR|
|  2|  Bob|  2500|     IT|
|  3|Cathy|  3000|     IT|
|  4|David|  NULL|Finance|
|  5|  Eve|  2800|Finance|
|  6|Frank|  NULL|     HR|
+---+-----+------+-------+

Added constant column:
+---+-----+------+-------+-----+-------+
| id| name|salary|   dept|bonus|Country|
+---+-----+------+-------+-----+-------+
|  1|Alice|  2000|     HR|200.0|  India|
|  2|  Bob|  2500|     IT|250.0|  India|
|  3|Cathy|  3000|     IT|300.0|  India|
|  4|David|  NULL|Finance| NULL|  India|
|  5|  Eve|  2800|Finance|280.0|  India|
|  6|Frank|  NULL|     HR| NULL|  India|
+---+-----+------+-------+-----+-------+

Salary converted to double:
+---+-----+------+-------+-----+
| id| name|salary|   dept|bonus|
+---+-----+------+-------+-----+
|  1|Alice|2000.0|     HR|200.0|
|  2|  Bob|2500.0|     IT|250.0|
|  3|Cathy|3000.0|     IT|300.0|
|  4|David|  NULL|Finance| NULL|
|  5|  Eve|2800.0|Finance|280.0|
|  6|Frank|  NULL|     HR| NULL|
+---+-----+------+-------+-----+

Pivot Example:
+-------+--------+--------+
|quarter|ProductA|ProductB|
+-------+--------+--------+
|     Q1|     100|     150|
|     Q2|     200|     250|
+-------+--------+--------+

Unpivot Example:
+-------+--------+-------+
|quarter| product|revenue|
+-------+--------+-------+
|     Q1|ProductA|    100|
|     Q1|ProductB|    150|
|     Q2|ProductA|    200|
|     Q2|ProductB|    250|
+-------+--------+-------+

Custom schema DataFrame:
+------+--------+----------+
|emp_id|emp_name|emp_salary|
+------+--------+----------+
|   101|    John|    5000.0|
|   102|    Mike|    6000.0|
+------+--------+----------+

In [5]:
# 1. Selecting the first row of each group
first_row = df.groupBy("dept").agg(first("name").alias("first_employee"))
print("First row of each group:")
first_row.show()

# 2. Sort DataFrame
df_sorted = df.orderBy(col("salary").desc_nulls_last())
print("Sorted DataFrame:")
df_sorted.show()

# 3. Union DataFrame
df_union = df.union(df)
print("Union DataFrame:")
df_union.show()

# 4. Drop rows with null values
df_dropna = df.na.drop()
print("Drop null rows:")
df_dropna.show()

# 5. Split single column into multiple
split_df = df.withColumn("name_split", split(col("name"), "a"))
print("Split name column:")
split_df.show()

# 6. Concatenate multiple columns
concat_df = df.withColumn("full_info", concat_ws("-", col("name"), col("dept")))
print("Concatenate columns:")
concat_df.show()

# 7. Replace null values
df_fill = df.na.fill({"salary": 0, "name": "Unknown"})
print("Fill nulls:")
df_fill.show()

# 8. Remove duplicate rows
df_nodup = df.dropDuplicates()
print("Removed duplicates:")
df_nodup.show()

# 9. Distinct on multiple selected columns
df_distinct = df.select("dept", "salary").distinct()
print("Distinct on dept & salary:")
df_distinct.show()

# 10. Spark UDF
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

def upper_case(name):
    return name.upper()

upper_udf = udf(upper_case, StringType())
df_udf = df.withColumn("name_upper", upper_udf(col("name")))
print("Using UDF:")
df_udf.show()

First row of each group:
+-------+--------------+
|   dept|first_employee|
+-------+--------------+
|Finance|         David|
|     HR|         Alice|
|     IT|           Bob|
+-------+--------------+

Sorted DataFrame:
+---+-----+------+-------+-----+
| id| name|salary|   dept|bonus|
+---+-----+------+-------+-----+
|  3|Cathy|  3000|     IT|300.0|
|  5|  Eve|  2800|Finance|280.0|
|  2|  Bob|  2500|     IT|250.0|
|  1|Alice|  2000|     HR|200.0|
|  4|David|  NULL|Finance| NULL|
|  6|Frank|  NULL|     HR| NULL|
+---+-----+------+-------+-----+

Union DataFrame:
+---+-----+------+-------+-----+
| id| name|salary|   dept|bonus|
+---+-----+------+-------+-----+
|  1|Alice|  2000|     HR|200.0|
|  2|  Bob|  2500|     IT|250.0|
|  3|Cathy|  3000|     IT|300.0|
|  4|David|  NULL|Finance| NULL|
|  5|  Eve|  2800|Finance|280.0|
|  6|Frank|  NULL|     HR| NULL|
|  1|Alice|  2000|     HR|200.0|
|  2|  Bob|  2500|     IT|250.0|
|  3|Cathy|  3000|     IT|300.0|
|  4|David|  NULL|Finance| NULL|
|  5|  Eve|  2800|Finance|280.0|
|  6|Frank|  NULL|     HR| NULL|
+---+-----+------+-------+-----+

Drop null rows:
+---+-----+------+-------+-----+
| id| name|salary|   dept|bonus|
+---+-----+------+-------+-----+
|  1|Alice|  2000|     HR|200.0|
|  2|  Bob|  2500|     IT|250.0|
|  3|Cathy|  3000|     IT|300.0|
|  5|  Eve|  2800|Finance|280.0|
+---+-----+------+-------+-----+

Split name column:
+---+-----+------+-------+-----+----------+
| id| name|salary|   dept|bonus|name_split|
+---+-----+------+-------+-----+----------+
|  1|Alice|  2000|     HR|200.0|   [Alice]|
|  2|  Bob|  2500|     IT|250.0|     [Bob]|
|  3|Cathy|  3000|     IT|300.0|  [C, thy]|
|  4|David|  NULL|Finance| NULL|  [D, vid]|
|  5|  Eve|  2800|Finance|280.0|     [Eve]|
|  6|Frank|  NULL|     HR| NULL|  [Fr, nk]|
+---+-----+------+-------+-----+----------+

Concatenate columns:
+---+-----+------+-------+-----+-------------+
| id| name|salary|   dept|bonus|    full_info|
+---+-----+------+-------+-----+-------------+
|  1|Alice|  2000|     HR|200.0|     Alice-HR|
|  2|  Bob|  2500|     IT|250.0|       Bob-IT|
|  3|Cathy|  3000|     IT|300.0|     Cathy-IT|
|  4|David|  NULL|Finance| NULL|David-Finance|
|  5|  Eve|  2800|Finance|280.0|  Eve-Finance|
|  6|Frank|  NULL|     HR| NULL|     Frank-HR|
+---+-----+------+-------+-----+-------------+

Fill nulls:
+---+-----+------+-------+-----+
| id| name|salary|   dept|bonus|
+---+-----+------+-------+-----+
|  1|Alice|  2000|     HR|200.0|
|  2|  Bob|  2500|     IT|250.0|
|  3|Cathy|  3000|     IT|300.0|
|  4|David|     0|Finance| NULL|
|  5|  Eve|  2800|Finance|280.0|
|  6|Frank|     0|     HR| NULL|
+---+-----+------+-------+-----+

Removed duplicates:
+---+-----+------+-------+-----+
| id| name|salary|   dept|bonus|
+---+-----+------+-------+-----+
|  1|Alice|  2000|     HR|200.0|
|  2|  Bob|  2500|     IT|250.0|
|  3|Cathy|  3000|     IT|300.0|
|  5|  Eve|  2800|Finance|280.0|
|  4|David|  NULL|Finance| NULL|
|  6|Frank|  NULL|     HR| NULL|
+---+-----+------+-------+-----+

Distinct on dept & salary:
+-------+------+
|   dept|salary|
+-------+------+
|     IT|  3000|
|     HR|  2000|
|     IT|  2500|
|Finance|  2800|
|Finance|  NULL|
|     HR|  NULL|
+-------+------+

Using UDF:
+---+-----+------+-------+-----+----------+
| id| name|salary|   dept|bonus|name_upper|
+---+-----+------+-------+-----+----------+
|  1|Alice|  2000|     HR|200.0|     ALICE|
|  2|  Bob|  2500|     IT|250.0|       BOB|
|  3|Cathy|  3000|     IT|300.0|     CATHY|
|  4|David|  NULL|Finance| NULL|     DAVID|
|  5|  Eve|  2800|Finance|280.0|       EVE|
|  6|Frank|  NULL|     HR| NULL|     FRANK|
+---+-----+------+-------+-----+----------+

In [6]:

import findspark
findspark.init()

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

spark = SparkSession.builder.appName("Practical3_ArrayMap").getOrCreate()


spark = SparkSession.builder \
    .appName("Array_Map_Operations") \
    .config("spark.sql.shuffle.partitions", "2") \
    .getOrCreate()


data = [("Alice", 25), ("Bob", 30)]
df = spark.createDataFrame(data, ["name","age"])

# Add Array column
df = df.withColumn("scores", array(lit(85), lit(90), lit(95)))
df.show(truncate=False)
df = df.withColumn("subject_scores", map_from_arrays(array(lit("Math"), lit("Physics")),array(lit(85), lit(90))))
df.show(truncate=False)

df_array_cols = df.select(col("name"), col("scores")[0].alias("score1"),col("scores")[1].alias("score2"),col("scores")[2].alias("score3"))
df_array_cols.show()

df = df.withColumn("score_structs", array(struct(lit("Math").alias("subject"), lit(85).alias("score")),struct(lit("Physics").alias("subject"), lit(90).alias("score"))))
df.show(truncate=False)

df_explode = df.withColumn("score", explode(col("scores")))
df_explode.show()

df_explode_struct = df.withColumn("struct_item", explode(col("score_structs")))
df_explode_struct.select("name", "struct_item.subject", "struct_item.score").show()

df_map_array = df.withColumn("map_array", array(col("subject_scores")))
df_map_explode = df_map_array.withColumn("map_item", explode(col("map_array")))
df_map_explode.show(truncate=False)

data_nested = [("Alice", [[1,2],[3,4]]), ("Bob", [[5,6],[7,8]])]
df_nested = spark.createDataFrame(data_nested, ["name","nested_array"])
df_nested.show(truncate=False)

df_explode_nested = df_nested.withColumn("exploded_array", explode(col("nested_array")))
df_explode_nested.show(truncate=False)

df_flattened = df_nested.withColumn("flattened_array", flatten(col("nested_array")))
df_flattened.show(truncate=False)

df_array_string = spark.createDataFrame([("Alice", ["A","B","C"])], ["name","letters"])
df_array_string = df_array_string.withColumn("letters_str", concat_ws(",", col("letters")))
df_array_string.show()

+-----+---+------------+
|name |age|scores      |
+-----+---+------------+
|Alice|25 |[85, 90, 95]|
|Bob  |30 |[85, 90, 95]|
+-----+---+------------+

+-----+---+------------+---------------------------+
|name |age|scores      |subject_scores             |
+-----+---+------------+---------------------------+
|Alice|25 |[85, 90, 95]|{Math -> 85, Physics -> 90}|
|Bob  |30 |[85, 90, 95]|{Math -> 85, Physics -> 90}|
+-----+---+------------+---------------------------+

+-----+------+------+------+
| name|score1|score2|score3|
+-----+------+------+------+
|Alice|    85|    90|    95|
|  Bob|    85|    90|    95|
+-----+------+------+------+

+-----+---+------------+---------------------------+---------------------------+
|name |age|scores      |subject_scores             |score_structs              |
+-----+---+------------+---------------------------+---------------------------+
|Alice|25 |[85, 90, 95]|{Math -> 85, Physics -> 90}|[{Math, 85}, {Physics, 90}]|
|Bob  |30 |[85, 90, 95]|{Math -> 85, Physics -> 90}|[{Math, 85}, {Physics, 90}]|
+-----+---+------------+---------------------------+---------------------------+

+-----+---+------------+--------------------+--------------------+-----+
| name|age|      scores|      subject_scores|       score_structs|score|
+-----+---+------------+--------------------+--------------------+-----+
|Alice| 25|[85, 90, 95]|{Math -> 85, Phys...|[{Math, 85}, {Phy...|   85|
|Alice| 25|[85, 90, 95]|{Math -> 85, Phys...|[{Math, 85}, {Phy...|   90|
|Alice| 25|[85, 90, 95]|{Math -> 85, Phys...|[{Math, 85}, {Phy...|   95|
|  Bob| 30|[85, 90, 95]|{Math -> 85, Phys...|[{Math, 85}, {Phy...|   85|
|  Bob| 30|[85, 90, 95]|{Math -> 85, Phys...|[{Math, 85}, {Phy...|   90|
|  Bob| 30|[85, 90, 95]|{Math -> 85, Phys...|[{Math, 85}, {Phy...|   95|
+-----+---+------------+--------------------+--------------------+-----+

+-----+-------+-----+
| name|subject|score|
+-----+-------+-----+
|Alice|   Math|   85|
|Alice|Physics|   90|
|  Bob|   Math|   85|
|  Bob|Physics|   90|
+-----+-------+-----+

+-----+---+------------+---------------------------+---------------------------+-----------------------------+---------------------------+
|name |age|scores      |subject_scores             |score_structs              |map_array                    |map_item                   |
+-----+---+------------+---------------------------+---------------------------+-----------------------------+---------------------------+
|Alice|25 |[85, 90, 95]|{Math -> 85, Physics -> 90}|[{Math, 85}, {Physics, 90}]|[{Math -> 85, Physics -> 90}]|{Math -> 85, Physics -> 90}|
|Bob  |30 |[85, 90, 95]|{Math -> 85, Physics -> 90}|[{Math, 85}, {Physics, 90}]|[{Math -> 85, Physics -> 90}]|{Math -> 85, Physics -> 90}|
+-----+---+------------+---------------------------+---------------------------+-----------------------------+---------------------------+

+-----+----------------+
|name |nested_array    |
+-----+----------------+
|Alice|[[1, 2], [3, 4]]|
|Bob  |[[5, 6], [7, 8]]|
+-----+----------------+

+-----+----------------+--------------+
|name |nested_array    |exploded_array|
+-----+----------------+--------------+
|Alice|[[1, 2], [3, 4]]|[1, 2]        |
|Alice|[[1, 2], [3, 4]]|[3, 4]        |
|Bob  |[[5, 6], [7, 8]]|[5, 6]        |
|Bob  |[[5, 6], [7, 8]]|[7, 8]        |
+-----+----------------+--------------+

+-----+----------------+---------------+
|name |nested_array    |flattened_array|
+-----+----------------+---------------+
|Alice|[[1, 2], [3, 4]]|[1, 2, 3, 4]   |
|Bob  |[[5, 6], [7, 8]]|[5, 6, 7, 8]   |
+-----+----------------+---------------+

+-----+---------+-----------+
| name|  letters|letters_str|
+-----+---------+-----------+
|Alice|[A, B, C]|      A,B,C|
+-----+---------+-----------+

In [7]:

import findspark
findspark.init()

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.window import Window
from pyspark.sql.types import *

spark = SparkSession.builder.appName("Practical4_Aggregates").getOrCreate()

# Sample data
data = [
    ("Alice", "HR", 3000),
    ("Bob", "HR", 4000),
    ("Cathy", "IT", 5000),
    ("David", "IT", 6000),
    ("Eva", "Finance", 7000),
    ("Frank", "Finance", 8000),
    ("George", "HR", 3000)
]
schema = ["name", "dept", "salary"]
df = spark.createDataFrame(data, schema)
print("Original DataFrame:")
df.show()

# 1. Group rows in DataFrame (sum, avg, max, min)
grouped_df = df.groupBy("dept").agg(
    count("*").alias("employee_count"),
    avg("salary").alias("avg_salary"),
    sum("salary").alias("total_salary"),
    max("salary").alias("max_salary"),
    min("salary").alias("min_salary")
)
print("Grouped DataFrame with aggregates:")
grouped_df.show()

# 2. Get Count distinct on DataFrame
distinct_count = df.select(countDistinct("dept").alias("distinct_departments"))
print("Distinct count of departments:")
distinct_count.show()

# 3. Add row number to DataFrame (Window function)
windowSpec = Window.partitionBy("dept").orderBy(col("salary").desc())
df_with_rownum = df.withColumn("row_number", row_number().over(windowSpec))
print("DataFrame with row numbers:")
df_with_rownum.show()

# 4. Select the first row of each group (highest salary in each dept)
first_row_df = df_with_rownum.filter(col("row_number") == 1).drop("row_number")
print("First row of each group (Top salary per dept):")
first_row_df.show()

Original DataFrame:
+------+-------+------+
|  name|   dept|salary|
+------+-------+------+
| Alice|     HR|  3000|
|   Bob|     HR|  4000|
| Cathy|     IT|  5000|
| David|     IT|  6000|
|   Eva|Finance|  7000|
| Frank|Finance|  8000|
|George|     HR|  3000|
+------+-------+------+

Grouped DataFrame with aggregates:
+-------+--------------+------------------+------------+----------+----------+
|   dept|employee_count|        avg_salary|total_salary|max_salary|min_salary|
+-------+--------------+------------------+------------+----------+----------+
|     HR|             3|3333.3333333333335|       10000|      4000|      3000|
|     IT|             2|            5500.0|       11000|      6000|      5000|
|Finance|             2|            7500.0|       15000|      8000|      7000|
+-------+--------------+------------------+------------+----------+----------+

Distinct count of departments:
+--------------------+
|distinct_departments|
+--------------------+
|                   3|
+--------------------+

DataFrame with row numbers:
+------+-------+------+----------+
|  name|   dept|salary|row_number|
+------+-------+------+----------+
| Frank|Finance|  8000|         1|
|   Eva|Finance|  7000|         2|
|   Bob|     HR|  4000|         1|
| Alice|     HR|  3000|         2|
|George|     HR|  3000|         3|
| David|     IT|  6000|         1|
| Cathy|     IT|  5000|         2|
+------+-------+------+----------+

First row of each group (Top salary per dept):
+-----+-------+------+
| name|   dept|salary|
+-----+-------+------+
|Frank|Finance|  8000|
|  Bob|     HR|  4000|
|David|     IT|  6000|
+-----+-------+------+

In [8]:

import findspark
findspark.init()

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

spark = SparkSession.builder.appName("Practical5_Joins_SQL").getOrCreate()

# Sample DataFrames
emp_data = [
    (1, "Alice", 101, 3000),
    (2, "Bob", 102, 4000),
    (3, "Cathy", 101, 5000),
    (4, "David", 103, 6000),
    (5, "Eva", 104, 7000)
]
dept_data = [
    (101, "HR"),
    (102, "IT"),
    (103, "Finance")
]

emp_schema = ["emp_id", "name", "dept_id", "salary"]
dept_schema = ["dept_id", "dept_name"]

emp_df = spark.createDataFrame(emp_data, emp_schema)
dept_df = spark.createDataFrame(dept_data, dept_schema)

print("Employees:")
emp_df.show()
print("Departments:")
dept_df.show()

# 1. Spark SQL Join (register as temp view and run SQL)
emp_df.createOrReplaceTempView("employees")
dept_df.createOrReplaceTempView("departments")

sql_join = spark.sql("""
SELECT e.emp_id, e.name, d.dept_name, e.salary
FROM employees e
JOIN departments d ON e.dept_id = d.dept_id
""")
print("SQL Join:")
sql_join.show()

# 2. Join multiple DataFrames
extra_data = [(101, "Mumbai"), (102, "Delhi"), (103, "Pune"), (104, "Chennai")]
loc_df = spark.createDataFrame(extra_data, ["dept_id", "location"])

multi_join = emp_df.join(dept_df, "dept_id").join(loc_df, "dept_id")
print("Join multiple DataFrames:")
multi_join.show()

# 3. Inner join two tables/DataFrames
inner_join = emp_df.join(dept_df, emp_df.dept_id == dept_df.dept_id, "inner")
print("Inner Join:")
inner_join.show()

# 4. Self Join
self_join = emp_df.alias("a").join(emp_df.alias("b"), col("a.dept_id") == col("b.dept_id"))
print("Self Join (employees in same dept):")
self_join.select("a.name", "b.name", "a.dept_id").show()

# 5. Join tables on multiple columns
multi_col_join = emp_df.join(dept_df, (emp_df.dept_id == dept_df.dept_id) & (emp_df.salary > 4000))
print("Join on multiple columns:")
multi_col_join.show()

# 6. Convert case class to a schema (in PySpark we use StructType)
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True)
])
df_schema = spark.createDataFrame([(1, "Alex", 30), (2, "Bella", 25)], schema)
print("DataFrame with StructType Schema:")
df_schema.show()

# 7. Create array of struct column
array_struct_df = emp_df.withColumn("array_struct", array(struct("emp_id", "name")))
print("Array of struct column:")
array_struct_df.show(truncate=False)

# 8. Flatten nested column
nested_data = [(1, ("Alice", ("HR", 3000)))]
nested_schema = StructType([
    StructField("id", IntegerType()),
    StructField("emp", StructType([
        StructField("name", StringType()),
        StructField("details", StructType([
            StructField("dept", StringType()),
            StructField("salary", IntegerType())
        ]))
    ]))
])
nested_df = spark.createDataFrame(nested_data, nested_schema)
flat_df = nested_df.select("id", col("emp.name").alias("emp_name"),
                           col("emp.details.dept").alias("department"),
                           col("emp.details.salary").alias("salary"))
print("Flatten nested column:")
flat_df.show()

Employees:
+------+-----+-------+------+
|emp_id| name|dept_id|salary|
+------+-----+-------+------+
|     1|Alice|    101|  3000|
|     2|  Bob|    102|  4000|
|     3|Cathy|    101|  5000|
|     4|David|    103|  6000|
|     5|  Eva|    104|  7000|
+------+-----+-------+------+

Departments:
+-------+---------+
|dept_id|dept_name|
+-------+---------+
|    101|       HR|
|    102|       IT|
|    103|  Finance|
+-------+---------+

SQL Join:
+------+-----+---------+------+
|emp_id| name|dept_name|salary|
+------+-----+---------+------+
|     3|Cathy|       HR|  5000|
|     1|Alice|       HR|  3000|
|     2|  Bob|       IT|  4000|
|     4|David|  Finance|  6000|
+------+-----+---------+------+

Join multiple DataFrames:
+-------+------+-----+------+---------+--------+
|dept_id|emp_id| name|salary|dept_name|location|
+-------+------+-----+------+---------+--------+
|    101|     3|Cathy|  5000|       HR|  Mumbai|
|    101|     1|Alice|  3000|       HR|  Mumbai|
|    102|     2|  Bob|  4000|       IT|   Delhi|
|    103|     4|David|  6000|  Finance|    Pune|
+-------+------+-----+------+---------+--------+

Inner Join:
+------+-----+-------+------+-------+---------+
|emp_id| name|dept_id|salary|dept_id|dept_name|
+------+-----+-------+------+-------+---------+
|     3|Cathy|    101|  5000|    101|       HR|
|     1|Alice|    101|  3000|    101|       HR|
|     2|  Bob|    102|  4000|    102|       IT|
|     4|David|    103|  6000|    103|  Finance|
+------+-----+-------+------+-------+---------+

Self Join (employees in same dept):
+-----+-----+-------+
| name| name|dept_id|
+-----+-----+-------+
|Alice|Cathy|    101|
|Alice|Alice|    101|
|  Bob|  Bob|    102|
|  Eva|  Eva|    104|
|Cathy|Cathy|    101|
|Cathy|Alice|    101|
|David|David|    103|
+-----+-----+-------+

Join on multiple columns:
+------+-----+-------+------+-------+---------+
|emp_id| name|dept_id|salary|dept_id|dept_name|
+------+-----+-------+------+-------+---------+
|     3|Cathy|    101|  5000|    101|       HR|
|     4|David|    103|  6000|    103|  Finance|
+------+-----+-------+------+-------+---------+

DataFrame with StructType Schema:
+---+-----+---+
| id| name|age|
+---+-----+---+
|  1| Alex| 30|
|  2|Bella| 25|
+---+-----+---+

Array of struct column:
+------+-----+-------+------+------------+
|emp_id|name |dept_id|salary|array_struct|
+------+-----+-------+------+------------+
|1     |Alice|101    |3000  |[{1, Alice}]|
|2     |Bob  |102    |4000  |[{2, Bob}]  |
|3     |Cathy|101    |5000  |[{3, Cathy}]|
|4     |David|103    |6000  |[{4, David}]|
|5     |Eva  |104    |7000  |[{5, Eva}]  |
+------+-----+-------+------+------------+

Flatten nested column:
+---+--------+----------+------+
| id|emp_name|department|salary|
+---+--------+----------+------+
|  1|   Alice|        HR|  3000|
+---+--------+----------+------+

In [9]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit, when, udf
from pyspark.sql.types import StringType

spark = SparkSession.builder.appName("SparkSQL_Practical8").getOrCreate()
data = [(1,"Alice",23), (2,"Bob",30), (3,"Charlie",25), (4,"David",30)]
df = spark.createDataFrame(data, ["id","name","age"])
df.show()
df.filter(df.age > 25).show()
df.where(col("name") == "Alice").show()

df2 = df.withColumn("age_plus_5", col("age") + 5)
df2.show()
df3 = df.withColumnRenamed("name","full_name")
df3.show()
df4 = df.drop("age")
df4.show()
df.distinct().show()
df.groupBy("age").count().show()
dept = [(1,"HR"), (2,"IT"), (3,"Finance")]
df_dept = spark.createDataFrame(dept, ["id","dept"])

df_join = df.join(df_dept, on="id", how="inner")
df_join.show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  Alice| 23|
|  2|    Bob| 30|
|  3|Charlie| 25|
|  4|  David| 30|
+---+-------+---+

+---+-----+---+
| id| name|age|
+---+-----+---+
|  2|  Bob| 30|
|  4|David| 30|
+---+-----+---+

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|Alice| 23|
+---+-----+---+

+---+-------+---+----------+
| id|   name|age|age_plus_5|
+---+-------+---+----------+
|  1|  Alice| 23|        28|
|  2|    Bob| 30|        35|
|  3|Charlie| 25|        30|
|  4|  David| 30|        35|
+---+-------+---+----------+

+---+---------+---+
| id|full_name|age|
+---+---------+---+
|  1|    Alice| 23|
|  2|      Bob| 30|
|  3|  Charlie| 25|
|  4|    David| 30|
+---+---------+---+

+---+-------+
| id|   name|
+---+-------+
|  1|  Alice|
|  2|    Bob|
|  3|Charlie|
|  4|  David|
+---+-------+

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  Alice| 23|
|  2|    Bob| 30|
|  3|Charlie| 25|
|  4|  David| 30|
+---+-------+---+

+---+-----+
|age|count|
+---+-----+
| 23|    1|
| 30|    2|
| 25|    1|
+---+-----+

+---+-------+---+-------+
| id|   name|age|   dept|
+---+-------+---+-------+
|  1|  Alice| 23|     HR|
|  2|    Bob| 30|     IT|
|  3|Charlie| 25|Finance|
+---+-------+---+-------+

In [10]:
rdd = df.rdd

mapped = rdd.map(lambda x: (x[1], x[2]+1)).collect()
print("map:", mapped)

mapped_part = rdd.mapPartitions(lambda part: [(x[1], x[2]*2) for x in part]).collect()
print("mapPartitions:", mapped_part)
print("foreach output:")
df.rdd.foreach(lambda x: print(x))

print("foreachPartition output:")
df.rdd.foreachPartition(lambda part: [print("Partition:", list(part))])

map: [('Alice', 24), ('Bob', 31), ('Charlie', 26), ('David', 31)]
mapPartitions: [('Alice', 46), ('Bob', 60), ('Charlie', 50), ('David', 60)]
foreach output:
foreachPartition output:

In [11]:
sales = [("Alice","Jan",200),
         ("Alice","Feb",250),
         ("Bob","Jan",300),
         ("Bob","Feb",100)]

df_sales = spark.createDataFrame(sales, ["name","month","amount"])
pivoted = df_sales.groupBy("name").pivot("month").sum("amount")
pivoted.show()
df_a = spark.createDataFrame([(5,"Eve",28)], ["id","name","age"])
df_union = df.union(df_a)
df_union.show()
collected = df.collect()
print("collect():", collected)
df_cached = df.cache()
print("Cached count:", df_cached.count())

from pyspark import StorageLevel
df_persisted = df.persist(StorageLevel.MEMORY_AND_DISK)
print("Persisted count:", df_persisted.count())
def greet(name):
    return "Hello " + name

greet_udf = udf(greet, StringType())
df_udf = df.withColumn("greeting", greet_udf(col("name")))
df_udf.show()

+-----+---+---+
| name|Feb|Jan|
+-----+---+---+
|Alice|250|200|
|  Bob|100|300|
+-----+---+---+

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  Alice| 23|
|  2|    Bob| 30|
|  3|Charlie| 25|
|  4|  David| 30|
|  5|    Eve| 28|
+---+-------+---+

collect(): [Row(id=1, name='Alice', age=23), Row(id=2, name='Bob', age=30), Row(id=3, name='Charlie', age=25), Row(id=4, name='David', age=30)]
Cached count: 4
Persisted count: 4
+---+-------+---+-------------+
| id|   name|age|     greeting|
+---+-------+---+-------------+
|  1|  Alice| 23|  Hello Alice|
|  2|    Bob| 30|    Hello Bob|
|  3|Charlie| 25|Hello Charlie|
|  4|  David| 30|  Hello David|
+---+-------+---+-------------+

In [14]:
# ---------------------------------------------------------
# Spark MLlib Practical 9: Estimator, Transformer, Param
# ---------------------------------------------------------
from pyspark.sql import SparkSession
from pyspark.ml.feature import VectorAssembler, StandardScaler
from pyspark.ml.classification import LogisticRegression
from pyspark.ml import Pipeline

# Step 1: Start Spark Session
spark = SparkSession.builder \
    .appName("MLlib_Estimator_Transformer_Param") \
    .getOrCreate()

# Step 2: Create Sample Data
data = [
    (0.0, 1.0, 0.1, -1.0),
    (1.0, 2.0, 1.1, 1.0),
    (0.0, 2.0, 1.3, -0.5),
    (1.0, 3.0, 1.2, 1.3),
    (0.0, 3.0, 0.8, -0.7),
]
columns = ["label", "feature1", "feature2", "feature3"]

df = spark.createDataFrame(data, columns)

# Step 3: Transformer Example (VectorAssembler)
assembler = VectorAssembler(inputCols=["feature1", "feature2", "feature3"],
                            outputCol="features")
df_transformed = assembler.transform(df)

# Step 4: Transformer Example (StandardScaler)
scaler = StandardScaler(inputCol="features", outputCol="scaledFeatures", withStd=True, withMean=False)
scaler_model = scaler.fit(df_transformed)   # Estimator produces Transformer
df_scaled = scaler_model.transform(df_transformed)

# Step 5: Estimator Example (Logistic Regression)
lr = LogisticRegression(featuresCol="scaledFeatures", labelCol="label", maxIter=10)

# Step 6: Pipeline (combining everything)
pipeline = Pipeline(stages=[assembler, scaler, lr])

# Fit the pipeline (Estimator -> Model)
model = pipeline.fit(df)

# Step 7: Make Predictions
predictions = model.transform(df)
predictions.select("label", "features", "scaledFeatures", "prediction", "probability").show()

# Step 8: Working with Params
print("Logistic Regression Parameters:")
print(lr.explainParams())

print("\nCurrent Max Iterations Param:", lr.getOrDefault("maxIter"))
print("Changing maxIter to 20...")
lr.setMaxIter(20)
print("Updated Max Iterations Param:", lr.getOrDefault("maxIter"))

+-----+--------------+--------------------+----------+--------------------+
|label|      features|      scaledFeatures|prediction|         probability|
+-----+--------------+--------------------+----------+--------------------+
|  0.0|[1.0,0.1,-1.0]|[1.19522860933439...|       0.0|[0.99988509178520...|
|  1.0| [2.0,1.1,1.0]|[2.39045721866878...|       1.0|[0.00101397015652...|
|  0.0|[2.0,1.3,-0.5]|[2.39045721866878...|       0.0|[0.99898038439963...|
|  1.0| [3.0,1.2,1.3]|[3.58568582800318...|       1.0|[1.07539818686704...|
|  0.0|[3.0,0.8,-0.7]|[3.58568582800318...|       0.0|[0.99970044220819...|
+-----+--------------+--------------------+----------+--------------------+

Logistic Regression Parameters:
aggregationDepth: suggested depth for treeAggregate (>= 2). (default: 2)
elasticNetParam: the ElasticNet mixing parameter, in range [0, 1]. For alpha = 0, the penalty is an L2 penalty. For alpha = 1, it is an L1 penalty. (default: 0.0)
family: The name of family which is a description of the label distribution to be used in the model. Supported options: auto, binomial, multinomial (default: auto)
featuresCol: features column name. (default: features, current: scaledFeatures)
fitIntercept: whether to fit an intercept term. (default: True)
labelCol: label column name. (default: label, current: label)
lowerBoundsOnCoefficients: The lower bounds on coefficients if fitting under bound constrained optimization. The bound matrix must be compatible with the shape (1, number of features) for binomial regression, or (number of classes, number of features) for multinomial regression. (undefined)
lowerBoundsOnIntercepts: The lower bounds on intercepts if fitting under bound constrained optimization. The bounds vector size must beequal with 1 for binomial regression, or the number oflasses for multinomial regression. (undefined)
maxBlockSizeInMB: maximum memory in MB for stacking input data into blocks. Data is stacked within partitions. If more than remaining data size in a partition then it is adjusted to the data size. Default 0.0 represents choosing optimal value, depends on specific algorithm. Must be >= 0. (default: 0.0)
maxIter: max number of iterations (>= 0). (default: 100, current: 10)
predictionCol: prediction column name. (default: prediction)
probabilityCol: Column name for predicted class conditional probabilities. Note: Not all models output well-calibrated probability estimates! These probabilities should be treated as confidences, not precise probabilities. (default: probability)
rawPredictionCol: raw prediction (a.k.a. confidence) column name. (default: rawPrediction)
regParam: regularization parameter (>= 0). (default: 0.0)
standardization: whether to standardize the training features before fitting the model. (default: True)
threshold: Threshold in binary classification prediction, in range [0, 1]. If threshold and thresholds are both set, they must match.e.g. if threshold is p, then thresholds must be equal to [1-p, p]. (default: 0.5)
thresholds: Thresholds in multi-class classification to adjust the probability of predicting each class. Array must have length equal to the number of classes, with values > 0, excepting that at most one value may be 0. The class with largest value p/t is predicted, where p is the original probability of that class and t is the class's threshold. (undefined)
tol: the convergence tolerance for iterative algorithms (>= 0). (default: 1e-06)
upperBoundsOnCoefficients: The upper bounds on coefficients if fitting under bound constrained optimization. The bound matrix must be compatible with the shape (1, number of features) for binomial regression, or (number of classes, number of features) for multinomial regression. (undefined)
upperBoundsOnIntercepts: The upper bounds on intercepts if fitting under bound constrained optimization. The bound vector size must be equal with 1 for binomial regression, or the number of classes for multinomial regression. (undefined)
weightCol: weight column name. If this is not set or empty, we treat all instance weights as 1.0. (undefined)

Current Max Iterations Param: 10
Changing maxIter to 20...
Updated Max Iterations Param: 20

# PYQs Practice

In [17]:
# 1 a) Create 2 text files. Read the contents in a single RDD. b) Create 2 CSV files. Read the contents in a single RDD. 2) Create two dataframes one for employee and other for dept. Perform a)
# Left outer join
# b) Full outer join
# c) Inner join

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("PracticalExam_Q1").getOrCreate()
sc = spark.sparkContext
print("--- Spark Session Created ---\n")
# Step 2: Create the necessary files for the question
with open("file1.txt", "w") as f:
  f.write("this is the first text file\n")
  f.write("it has two lines\n")
with open("file2.txt", "w") as f:
  f.write("this is the second text file\n")
with open("data1.csv", "w") as f:
  f.write("id,value\n")
  f.write("1,a\n")
  f.write("2,b\n")
with open("data2.csv", "w") as f:
  f.write("id,value\n")
  f.write("3,c\n")
  f.write("4,d\n")
  print("--- Sample files for Question 1 created successfully ---\n")
# --- SOLUTION --- # a) Read 2 text files into a single RDD
print("\nReading contents from two text files into a single RDD:")
text_rdd = sc.textFile("file1.txt,file2.txt")
print("Result:", text_rdd.collect())
# a) Read 2 CSV files into a single RDD
print("\nReading contents from two CSV files into a single RDD:")
csv_df = spark.read.csv(["data1.csv", "data2.csv"], header=True)
csv_rdd = csv_df.rdd
print("Result:", csv_rdd.collect())

--- Spark Session Created ---

--- Sample files for Question 1 created successfully ---


Reading contents from two text files into a single RDD:
Result: ['this is the first text file', 'it has two lines', 'this is the second text file']

Reading contents from two CSV files into a single RDD:
Result: [Row(id='1', value='a'), Row(id='2', value='b'), Row(id='3', value='c'), Row(id='4', value='d')]

In [18]:
# Assuming the SparkSession 'spark' is already created from the previous question. # --- SETUP --- # Create the employee and department DataFrames
emp_data = [(1, "Smith", 10), (2, "Rose", 20), (3, "Williams", 10), (4, "Jones", 30)]
dept_data = [("Finance", 10), ("Marketing", 20), ("Sales", 30), ("IT", 40)]
emp_df = spark.createDataFrame(emp_data, ["emp_id", "name", "dept_id"])
dept_df = spark.createDataFrame(dept_data, ["dept_name", "dept_id"])
print("Employee DataFrame:")
emp_df.show()
print("Department DataFrame:")
dept_df.show()
# --- SOLUTION --- # a) Perform Left outer join
print("\na) Left Outer Join Result:")
emp_df.join(dept_df, on="dept_id", how="left_outer").show()
# b) Perform Full outer join
print("\nb) Full Outer Join Result:")
emp_df.join(dept_df, on="dept_id", how="full_outer").show()
# c) Perform Inner join
print("\nc) Inner Join Result:")
emp_df.join(dept_df, on="dept_id", how="inner").show()

Employee DataFrame:
+------+--------+-------+
|emp_id|    name|dept_id|
+------+--------+-------+
|     1|   Smith|     10|
|     2|    Rose|     20|
|     3|Williams|     10|
|     4|   Jones|     30|
+------+--------+-------+

Department DataFrame:
+---------+-------+
|dept_name|dept_id|
+---------+-------+
|  Finance|     10|
|Marketing|     20|
|    Sales|     30|
|       IT|     40|
+---------+-------+


a) Left Outer Join Result:
+-------+------+--------+---------+
|dept_id|emp_id|    name|dept_name|
+-------+------+--------+---------+
|     10|     1|   Smith|  Finance|
|     20|     2|    Rose|Marketing|
|     30|     4|   Jones|    Sales|
|     10|     3|Williams|  Finance|
+-------+------+--------+---------+


b) Full Outer Join Result:
+-------+------+--------+---------+
|dept_id|emp_id|    name|dept_name|
+-------+------+--------+---------+
|     10|     1|   Smith|  Finance|
|     10|     3|Williams|  Finance|
|     20|     2|    Rose|Marketing|
|     30|     4|   Jones|    Sales|
|     40|  NULL|    NULL|       IT|
+-------+------+--------+---------+


c) Inner Join Result:
+-------+------+--------+---------+
|dept_id|emp_id|    name|dept_name|
+-------+------+--------+---------+
|     10|     3|Williams|  Finance|
|     10|     1|   Smith|  Finance|
|     20|     2|    Rose|Marketing|
|     30|     4|   Jones|    Sales|
+-------+------+--------+---------+

In [19]:
# 1) For the following data and schema create a dataframe and perform the given
# operations
# Data: Seq(Row(Row("James;","","Smith"),"36636","M","20000"), Row(Row("Michael","Rose",""),"40288","M","40000"), Row(Row("Robert","","Williams"),"42114","M","10000"), Row(Row("Maria","Anne","Jones"),"39192","F","45000"), Row(Row("Jen","Mary","Brown"),"","F","-1")
# )
# Schema should have the columns as: firstname, middlename, lastname, dob, gender, expenses All
# columns will be of type String
# Perform the following operations:
# a) Change the data type of expenses to Integer
# b) Rename dob to DateOfBirth
# c) Create a column that has value expense*5
# 202 Create a data frame with a nested array column. Perform the following
# operations:
# a) Flatten nested array
# b) Explode nested array
# c) Convert array of string to string column.

from pyspark.sql import SparkSession, Row
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
from pyspark.sql.functions import col
spark = SparkSession.builder.appName("PracticalExam_Slip2_Q1").getOrCreate()
print("--- Spark Session Created ---\n")
# --- SETUP --- # Define the data and schema
data = [
Row(name=Row(firstname="James", middlename="", lastname="Smith"), dob="36636", gender="M", expenses="20000"), Row(name=Row(firstname="Michael", middlename="Rose", lastname=""), dob="40288", gender="M", expenses="40000"), Row(name=Row(firstname="Robert", middlename="", lastname="Williams"), dob="42114", gender="M", expenses="10000"), Row(name=Row(firstname="Maria", middlename="Anne", lastname="Jones"), dob="39192", gender="F", expenses="45000"), Row(name=Row(firstname="Jen", middlename="Mary", lastname="Brown"), dob="", gender="F", expenses="-1")
]
schema = StructType([
StructField("name", StructType([
StructField("firstname", StringType(), True), StructField("middlename", StringType(), True), StructField("lastname", StringType(), True)
])), StructField("dob", StringType(), True), StructField("gender", StringType(), True), StructField("expenses", StringType(), True)
])
# Create the DataFrame
df = spark.createDataFrame(data, schema)
print("Original DataFrame:")
df.show(truncate=False)
df.printSchema()
# --- SOLUTION --- # a) Change the data type of expenses to Integer
print("\na) Changing 'expenses' to Integer type:")
df_a = df.withColumn("expenses", col("expenses").cast(IntegerType()))
df_a.printSchema()
df_a.show()
# b) Rename dob to DateOfBirth
print("\nb) Renaming 'dob' to 'DateOfBirth':")
df_b = df_a.withColumnRenamed("dob", "DateOfBirth")
df_b.show()
# c) Create a column that has value expense*5
print("\nc) Creating a 'bonus' column with 'expenses * 5':")
df_c = df_b.withColumn("bonus", col("expenses") * 5)
df_c.show()

--- Spark Session Created ---

Original DataFrame:
+--------------------+-----+------+--------+
|name                |dob  |gender|expenses|
+--------------------+-----+------+--------+
|{James, , Smith}    |36636|M     |20000   |
|{Michael, Rose, }   |40288|M     |40000   |
|{Robert, , Williams}|42114|M     |10000   |
|{Maria, Anne, Jones}|39192|F     |45000   |
|{Jen, Mary, Brown}  |     |F     |-1      |
+--------------------+-----+------+--------+

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- expenses: string (nullable = true)


a) Changing 'expenses' to Integer type:
root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- expenses: integer (nullable = true)

+--------------------+-----+------+--------+
|                name|  dob|gender|expenses|
+--------------------+-----+------+--------+
|    {James, , Smith}|36636|     M|   20000|
|   {Michael, Rose, }|40288|     M|   40000|
|{Robert, , Williams}|42114|     M|   10000|
|{Maria, Anne, Jones}|39192|     F|   45000|
|  {Jen, Mary, Brown}|     |     F|      -1|
+--------------------+-----+------+--------+


b) Renaming 'dob' to 'DateOfBirth':
+--------------------+-----------+------+--------+
|                name|DateOfBirth|gender|expenses|
+--------------------+-----------+------+--------+
|    {James, , Smith}|      36636|     M|   20000|
|   {Michael, Rose, }|      40288|     M|   40000|
|{Robert, , Williams}|      42114|     M|   10000|
|{Maria, Anne, Jones}|      39192|     F|   45000|
|  {Jen, Mary, Brown}|           |     F|      -1|
+--------------------+-----------+------+--------+


c) Creating a 'bonus' column with 'expenses * 5':
+--------------------+-----------+------+--------+------+
|                name|DateOfBirth|gender|expenses| bonus|
+--------------------+-----------+------+--------+------+
|    {James, , Smith}|      36636|     M|   20000|100000|
|   {Michael, Rose, }|      40288|     M|   40000|200000|
|{Robert, , Williams}|      42114|     M|   10000| 50000|
|{Maria, Anne, Jones}|      39192|     F|   45000|225000|
|  {Jen, Mary, Brown}|           |     F|      -1|    -5|
+--------------------+-----------+------+--------+------+

In [25]:
2. # Assuming the SparkSession 'spark' is already created from the previous question.
from pyspark.sql.functions import col, flatten, explode, concat_ws
from pyspark.sql.types import StructType, StructField, StringType, ArrayType
# --- SETUP --- # Create the DataFrame with a nested array
data = [
("James", [["Java", "Scala", "C++"], ["Spark", "Java"]]), ("Michael", [["Spark", "Java", "C++"], ["Spark", "Java"]]), ("Robert", [["CSharp", "VB"], ["Spark", "Python"]])
]
schema = StructType([
StructField("name", StringType(), True), StructField("subjects", ArrayType(ArrayType(StringType())), True)
])
df = spark.createDataFrame(data, schema)
print("Original DataFrame with nested array:")
df.show(truncate=False)

Original DataFrame with nested array:
+-------+-----------------------------------+
|name   |subjects                           |
+-------+-----------------------------------+
|James  |[[Java, Scala, C++], [Spark, Java]]|
|Michael|[[Spark, Java, C++], [Spark, Java]]|
|Robert |[[CSharp, VB], [Spark, Python]]    |
+-------+-----------------------------------+

In [21]:
# --- SOLUTION --- # a) Flatten nested array
print("\na) Flattened nested array:")
df_a = df.withColumn("subjects_flat", flatten(col("subjects")))
df_a.show(truncate=False)
# b) Explode nested array
print("\nb) Exploded nested array:")
# Note: Exploding a nested array directly creates rows with the inner arrays. # To explode to individual elements, you must flatten first.
df_b = df_a.withColumn("subject", explode(col("subjects_flat")))
df_b.show(truncate=False)
# c) Convert array of string to string column
print("\nc) Converted array to a single string column:")
df_c = df_a.withColumn("subjects_string", concat_ws(", ", col("subjects_flat")))
df_c.show(truncate=False)

a) Flattened nested array:
+-------+-----------------------------------+-------------------------------+
|name   |subjects                           |subjects_flat                  |
+-------+-----------------------------------+-------------------------------+
|James  |[[Java, Scala, C++], [Spark, Java]]|[Java, Scala, C++, Spark, Java]|
|Michael|[[Spark, Java, C++], [Spark, Java]]|[Spark, Java, C++, Spark, Java]|
|Robert |[[CSharp, VB], [Spark, Python]]    |[CSharp, VB, Spark, Python]    |
+-------+-----------------------------------+-------------------------------+


b) Exploded nested array:
+--------------------+-----------+------+--------+
|name                |DateOfBirth|gender|expenses|
+--------------------+-----------+------+--------+
|{James, , Smith}    |36636      |M     |20000   |
|{Michael, Rose, }   |40288      |M     |40000   |
|{Robert, , Williams}|42114      |M     |10000   |
|{Maria, Anne, Jones}|39192      |F     |45000   |
|{Jen, Mary, Brown}  |           |F     |-1      |
+--------------------+-----------+------+--------+


c) Converted array to a single string column:
+-------+-----------------------------------+-------------------------------+-----------------------------+
|name   |subjects                           |subjects_flat                  |subjects_string              |
+-------+-----------------------------------+-------------------------------+-----------------------------+
|James  |[[Java, Scala, C++], [Spark, Java]]|[Java, Scala, C++, Spark, Java]|Java, Scala, C++, Spark, Java|
|Michael|[[Spark, Java, C++], [Spark, Java]]|[Spark, Java, C++, Spark, Java]|Spark, Java, C++, Spark, Java|
|Robert |[[CSharp, VB], [Spark, Python]]    |[CSharp, VB, Spark, Python]    |CSharp, VB, Spark, Python    |
+-------+-----------------------------------+-------------------------------+-----------------------------+

In [26]:
# a) Create a data frame with today‚Äôs date and timestamp
# b) Display the hours, minutes and seconds from the timestamp
# 202 For the following employee data showing name, dept and salary, performthe
# given operations:
# Data: ("James", "Sales", 3000), ("Michael", "Sales", 4600), ("Robert", "Sales", 4100), ("Maria", "Finance", 3000), ("James", "Sales", 3000), ("Scott", "Finance", 3300), ("Jen", "Finance", 3900), ("Jeff", "Marketing", 3000), ("Kumar", "Marketing", 2000), ("Saif", "Sales", 4100), (Jason", "Sales", 9000), ("Alice", "Finance", 3700), ("Jenniffer", "Finance", 8900), ("Jenson", "Marketing", 9000)
# a) Create a data frame for the above data
# b) Display average salary
# c) Display number of unique departments
# d) Display number of employees with unique salary

from pyspark.sql import SparkSession
from pyspark.sql.functions import current_date, current_timestamp, hour, minute, second, col
spark = SparkSession.builder.appName("PracticalExam_Slip3_Q1").getOrCreate()
print("--- Spark Session Created ---\n")
# --- SOLUTION --- # a) Create a data frame with today's date and timestamp
# We start with a dummy DataFrame with one row to add columns to.
df = spark.range(1)
df_with_time = df.withColumn("today_date", current_date()) \
.withColumn("current_ts", current_timestamp())
print("a) DataFrame with current date and timestamp:")
df_with_time.show(truncate=False)
# b) Display the hours, minutes and seconds from the timestamp
time_parts_df = df_with_time.withColumn("hour", hour(col("current_ts"))) \
.withColumn("minute", minute(col("current_ts"))) \
.withColumn("second", second(col("current_ts")))
print("\nb) Timestamp parts extracted:")
time_parts_df.select("current_ts", "hour", "minute", "second").show(truncate=False)

--- Spark Session Created ---

a) DataFrame with current date and timestamp:
+---+----------+--------------------------+
|id |today_date|current_ts                |
+---+----------+--------------------------+
|0  |2025-10-07|2025-10-07 14:24:31.062619|
+---+----------+--------------------------+


b) Timestamp parts extracted:
+--------------------------+----+------+------+
|current_ts                |hour|minute|second|
+--------------------------+----+------+------+
|2025-10-07 14:24:31.192571|14  |24    |31    |
+--------------------------+----+------+------+

In [27]:
# Assuming the SparkSession 'spark' is already created from the previous question.
from pyspark.sql.functions import avg, countDistinct
# --- SETUP --- # The provided data has a typo `(Jason"`, which has been corrected to `("Jason"`.
employee_data = [
("James", "Sales", 3000), ("Michael", "Sales", 4600), ("Robert", "Sales", 4100), ("Maria", "Finance", 3000), ("James", "Sales", 3000), ("Scott", "Finance", 3300), ("Jen", "Finance", 3900), ("Jeff", "Marketing", 3000), ("Kumar", "Marketing", 2000), ("Saif", "Sales", 4100), ("Jason", "Sales", 9000), ("Alice", "Finance", 3700), ("Jenniffer", "Finance", 8900), ("Jenson", "Marketing", 9000)
]
columns = ["name", "department", "salary"]
# --- SOLUTION --- # a) Create a data frame for the above data
emp_df = spark.createDataFrame(employee_data, columns)
print("a) Employee DataFrame:")
emp_df.show()
# b) Display average salary
avg_salary_df = emp_df.select(avg("salary").alias("average_salary"))
print("\nb) Average salary:")
avg_salary_df.show()
# c) Display number of unique departments
unique_dept_df = emp_df.select(countDistinct("department").alias("unique_departments"))
print("\nc) Number of unique departments:")
unique_dept_df.show()
# d) Display number of employees with unique salary
# This is interpreted as the count of distinct salary values.
unique_salary_df = emp_df.select(countDistinct("salary").alias("unique_salary_count"))
print("\nd) Number of unique salary values:")
unique_salary_df.show()

a) Employee DataFrame:
+---------+----------+------+
|     name|department|salary|
+---------+----------+------+
|    James|     Sales|  3000|
|  Michael|     Sales|  4600|
|   Robert|     Sales|  4100|
|    Maria|   Finance|  3000|
|    James|     Sales|  3000|
|    Scott|   Finance|  3300|
|      Jen|   Finance|  3900|
|     Jeff| Marketing|  3000|
|    Kumar| Marketing|  2000|
|     Saif|     Sales|  4100|
|    Jason|     Sales|  9000|
|    Alice|   Finance|  3700|
|Jenniffer|   Finance|  8900|
|   Jenson| Marketing|  9000|
+---------+----------+------+


b) Average salary:
+-----------------+
|   average_salary|
+-----------------+
|4614.285714285715|
+-----------------+


c) Number of unique departments:
+------------------+
|unique_departments|
+------------------+
|                 3|
+------------------+


d) Number of unique salary values:
+-------------------+
|unique_salary_count|
+-------------------+
|                  9|
+-------------------+

In [28]:
# a) Create a data frame containing today‚Äôs date, date 2022-01-31, date
# 2021-03-22, date 2024-01-31, date 2023-11-11.
# b) Store the date in the format MM-DD-YYYY.
# c) Display the dates in the format DD/MM/YYYY
# d) Find the number of months between each of the dates and today‚Äôs date.

# 2 a) Create data frame with a column that contains JSON string.
# b) Convert the JSON string into Struct type or Map type.
# c) Extract the Data from JSON and create them as new columns.
# d) Convert MapType or Struct type to JSON string

In [30]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, current_date, to_date, date_format, lit, months_between
from pyspark.sql.types import StructType, StructField, StringType
spark = SparkSession.builder.appName("PracticalExam_Slip4_Q1").getOrCreate()
print("--- Spark Session Created ---\n")
# --- SOLUTION --- # a) and b) Create a DataFrame with dates stored in MM-DD-YYYY format
date_data = [
("01-31-2022",), ("03-22-2021",), ("01-31-2024",), ("11-11-2023",)
]
# Add today's date to the list
todays_date_str = spark.range(1).select(date_format(current_date(), "MM-dd-yyyy")).first()[0]
date_data.append((todays_date_str,))
date_df = spark.createDataFrame(date_data, ["date_str_mmddyyyy"])
print("a) and b) DataFrame with dates in MM-DD-YYYY format:")
date_df.show()
# To perform date operations, first convert the strings to a proper DateType
df_with_dates = date_df.withColumn("date_obj", to_date(col("date_str_mmddyyyy"), "MM-dd-yyyy"))
# c) Display the dates in the format DD/MM/YYYY
print("\nc) Dates displayed in DD/MM/YYYY format:")
df_formatted = df_with_dates.withColumn("date_str_ddmmyyyy", date_format(col("date_obj"), "dd/MM/yyyy"))
df_formatted.select("date_str_mmddyyyy", "date_str_ddmmyyyy").show()
# d) Find the number of months between each date and today's date
print("\nd) Number of months between each date and today:")
df_months_between = df_with_dates.withColumn("months_from_today", months_between(current_date(), col("date_obj")))
df_months_between.select("date_str_mmddyyyy", "months_from_today").show()

--- Spark Session Created ---

a) and b) DataFrame with dates in MM-DD-YYYY format:
+-----------------+
|date_str_mmddyyyy|
+-----------------+
|       01-31-2022|
|       03-22-2021|
|       01-31-2024|
|       11-11-2023|
|       10-07-2025|
+-----------------+


c) Dates displayed in DD/MM/YYYY format:
+-----------------+-----------------+
|date_str_mmddyyyy|date_str_ddmmyyyy|
+-----------------+-----------------+
|       01-31-2022|       31/01/2022|
|       03-22-2021|       22/03/2021|
|       01-31-2024|       31/01/2024|
|       11-11-2023|       11/11/2023|
|       10-07-2025|       07/10/2025|
+-----------------+-----------------+


d) Number of months between each date and today:
+-----------------+-----------------+
|date_str_mmddyyyy|months_from_today|
+-----------------+-----------------+
|       01-31-2022|      44.22580645|
|       03-22-2021|      54.51612903|
|       01-31-2024|      20.22580645|
|       11-11-2023|      22.87096774|
|       10-07-2025|              0.0|
+-----------------+-----------------+

In [31]:
# 2. # Assuming the SparkSession 'spark' is already created from the previous question.
from pyspark.sql.functions import from_json, to_json, col
from pyspark.sql.types import StructType, StructField, StringType
# --- SOLUTION --- # a) Create DataFrame with a JSON string column
json_data = [
(1, '{"name":"Alice", "city":"New York"}'), (2, '{"name":"Bob", "city":"Los Angeles"}')
]
json_df = spark.createDataFrame(json_data, ["id", "json_str"])
print("a) DataFrame with a JSON string column:")
json_df.show(truncate=False)
# b) Convert the JSON string into Struct type
# First, define the schema that matches the JSON structure
json_schema = StructType([
StructField("name", StringType(), True), StructField("city", StringType(), True)
])
df_with_struct = json_df.withColumn("parsed_struct", from_json(col("json_str"), json_schema))
print("\nb) DataFrame with JSON converted to a StructType column:")
df_with_struct.printSchema()
df_with_struct.show(truncate=False)
# c) Extract the Data from JSON and create them as new columns
df_extracted = df_with_struct.withColumn("name", col("parsed_struct.name")) \
.withColumn("city", col("parsed_struct.city"))
print("\nc) DataFrame with JSON data extracted into new columns:")
df_extracted.select("id", "name", "city").show()
# d) Convert Struct type to JSON string
df_converted_back = df_extracted.withColumn("new_json_str", to_json(struct("name", "city")))
print("\nd) DataFrame with columns converted back to a JSON string:")
df_converted_back.select("id", "new_json_str").show(truncate=False)

a) DataFrame with a JSON string column:
+---+------------------------------------+
|id |json_str                            |
+---+------------------------------------+
|1  |{"name":"Alice", "city":"New York"} |
|2  |{"name":"Bob", "city":"Los Angeles"}|
+---+------------------------------------+


b) DataFrame with JSON converted to a StructType column:
root
 |-- id: long (nullable = true)
 |-- json_str: string (nullable = true)
 |-- parsed_struct: struct (nullable = true)
 |    |-- name: string (nullable = true)
 |    |-- city: string (nullable = true)

+---+------------------------------------+------------------+
|id |json_str                            |parsed_struct     |
+---+------------------------------------+------------------+
|1  |{"name":"Alice", "city":"New York"} |{Alice, New York} |
|2  |{"name":"Bob", "city":"Los Angeles"}|{Bob, Los Angeles}|
+---+------------------------------------+------------------+


c) DataFrame with JSON data extracted into new columns:
+---+-----+-----------+
| id| name|       city|
+---+-----+-----------+
|  1|Alice|   New York|
|  2|  Bob|Los Angeles|
+---+-----+-----------+


d) DataFrame with columns converted back to a JSON string:
+---+-----------------------------------+
|id |new_json_str                       |
+---+-----------------------------------+
|1  |{"name":"Alice","city":"New York"} |
|2  |{"name":"Bob","city":"Los Angeles"}|
+---+-----------------------------------+

In [33]:
# 1. Create a data frame containing today‚Äôs date, date 2022-01-31, date 2021-03-22, date 2024-01-31
# Add 5 days to each date and display the result. Display the new dates after subtracting 10 days from each date.
# For each date, display year, month, dayofweek, dayofmonth, dayofyear, next_day,weekofyear
# 2. Refer to the employee.json file. Perform the following operations:
# Print the names of employees above 25 years of age. Print the number of employees of different ages.

from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit, to_date, date_add, date_sub, year, month, dayofweek, dayofmonth, dayofyear, next_day, weekofyear, current_date
spark = SparkSession.builder.appName("PracticalExam_Slip5_Q1").getOrCreate()
print("--- Spark Session Created ---\n")
# --- SOLUTION --- # a) Create a DataFrame with dates
# We create the DataFrame from string literals and convert them to DateType
date_data = ["2022-01-31", "2021-03-22", "2024-01-31"]
df_dates = spark.createDataFrame(date_data, "string").withColumnRenamed("value", "date_str")
df_dates = df_dates.union(spark.range(1).select(current_date().cast("string").alias("date_str"))) # Addtoday'sdate
df = df_dates.withColumn("date", to_date(col("date_str")))
print("a) Original DataFrame with dates:")
df.show()
# b) Add 5 days to each date
print("\nb) Dates after adding 5 days:")
df_plus_5 = df.withColumn("date_plus_5", date_add(col("date"), 5))
df_plus_5.show()
# c) Display the new dates after subtracting 10 days from each date
print("\nc) Dates after subtracting 10 days:")
df_minus_10 = df.withColumn("date_minus_10", date_sub(col("date"), 10))
df_minus_10.show()
# d) Display various parts for each date
print("\nd) Various date parts:")
df_parts = df.withColumn("year", year(col("date"))) \
.withColumn("month", month(col("date"))) \
.withColumn("dayofweek", dayofweek(col("date"))) \
.withColumn("dayofmonth", dayofmonth(col("date"))) \
.withColumn("dayofyear", dayofyear(col("date"))) \
.withColumn("next_day", next_day(col("date"), "Sunday")) \
.withColumn("weekofyear", weekofyear(col("date")))
df_parts.show()

--- Spark Session Created ---

a) Original DataFrame with dates:
+----------+----------+
|  date_str|      date|
+----------+----------+
|2022-01-31|2022-01-31|
|2021-03-22|2021-03-22|
|2024-01-31|2024-01-31|
|2025-10-07|2025-10-07|
+----------+----------+


b) Dates after adding 5 days:
+----------+----------+-----------+
|  date_str|      date|date_plus_5|
+----------+----------+-----------+
|2022-01-31|2022-01-31| 2022-02-05|
|2021-03-22|2021-03-22| 2021-03-27|
|2024-01-31|2024-01-31| 2024-02-05|
|2025-10-07|2025-10-07| 2025-10-12|
+----------+----------+-----------+


c) Dates after subtracting 10 days:
+----------+----------+-------------+
|  date_str|      date|date_minus_10|
+----------+----------+-------------+
|2022-01-31|2022-01-31|   2022-01-21|
|2021-03-22|2021-03-22|   2021-03-12|
|2024-01-31|2024-01-31|   2024-01-21|
|2025-10-07|2025-10-07|   2025-09-27|
+----------+----------+-------------+


d) Various date parts:
+----------+----------+----+-----+---------+----------+---------+----------+----------+
|  date_str|      date|year|month|dayofweek|dayofmonth|dayofyear|  next_day|weekofyear|
+----------+----------+----+-----+---------+----------+---------+----------+----------+
|2022-01-31|2022-01-31|2022|    1|        2|        31|       31|2022-02-06|         5|
|2021-03-22|2021-03-22|2021|    3|        2|        22|       81|2021-03-28|        12|
|2024-01-31|2024-01-31|2024|    1|        4|        31|       31|2024-02-04|         5|
|2025-10-07|2025-10-07|2025|   10|        3|         7|      280|2025-10-12|        41|
+----------+----------+----+-----+---------+----------+---------+----------+----------+

In [34]:
# 2. # Assuming the SparkSession 'spark' is already created from the previous question. from pyspark.sql.functions import col
# --- SETUP --- # Create the employee.json file in the Colab environment
json_content = """
{"name": "Michael", "age": 30}
{"name": "Andy", "age": 24}
{"name": "Justin", "age": 28}
{"name": "Berta", "age": 35}
{"name": "David", "age": 28} """
with open("employee.json", "w") as f:
  f.write(json_content)
  print("--- employee.json file created successfully ---\n")
# --- SOLUTION --- # Read the JSON file into a DataFrame
emp_df = spark.read.json("employee.json")
print("Original Employee DataFrame:")
emp_df.show()
# a) Print the names of employees above 25 years of age
print("\na) Names of employees older than 25:")
emp_df.filter(col("age") > 25).select("name").show()
# b) Print the number of employees of different ages
print("\nb) Number of employees for each age:")
emp_df.groupBy("age").count().show()

--- employee.json file created successfully ---

Original Employee DataFrame:
+---+-------+
|age|   name|
+---+-------+
| 30|Michael|
| 24|   Andy|
| 28| Justin|
| 35|  Berta|
| 28|  David|
+---+-------+


a) Names of employees older than 25:
+-------+
|   name|
+-------+
|Michael|
| Justin|
|  Berta|
|  David|
+-------+


b) Number of employees for each age:
+---+-----+
|age|count|
+---+-----+
| 30|    1|
| 24|    1|
| 28|    2|
| 35|    1|
+---+-----+

In [35]:
# Create two dataframes one for employee and other for dept. Perform :
# a) Left anti join
# b) Self join
# c) Left semi join
# 2 a) Create two case classes ‚Äì Student and Address
# b) Create schema from these case classes

from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark = SparkSession.builder.appName("PracticalExam_Slip6_Q1").getOrCreate()
print("--- Spark Session Created ---\n")
# --- SETUP --- # Create the two DataFrames
emp_data = [(1, "Smith", 10), (2, "Rose", 20), (3, "Williams", 10), (4, "Jones", 30), (5, "Brown", 50)]
dept_data = [("Finance", 10), ("Marketing", 20), ("Sales", 30), ("IT", 40)]
emp_df = spark.createDataFrame(emp_data, ["emp_id", "name", "dept_id"])
dept_df = spark.createDataFrame(dept_data, ["dept_name", "dept_id"])
print("Employee DataFrame:")
emp_df.show()
print("Department DataFrame:")
dept_df.show()
# --- SOLUTION --- # a) Left Anti Join
# This join returns only the rows from the left DataFrame that do not have a match in the right DataFrame.
print("\na) Left Anti Join (Employees in departments not in the dept table):")
emp_df.join(dept_df, on="dept_id", how="left_anti").show()
# b) Self Join
# This is joining a DataFrame to itself. You must use aliases to distinguish them. # Example: Find employees who have the same department ID.
print("\nb) Self Join (Find pairs of employees in the same department):")
df1 = emp_df.alias("df1")
df2 = emp_df.alias("df2")
# We add df1.emp_id < df2.emp_id to avoid duplicate pairs and self-joins.
self_join_df = df1.join(df2, on="dept_id") \
.where(col("df1.emp_id") < col("df2.emp_id")) \
.select(col("df1.name").alias("emp1"), col("df2.name").alias("emp2"), "dept_id")
self_join_df.show()
# c) Left Semi Join
# This join is similar to an inner join, but it only returns the columns from the left DataFrame.
print("\nc) Left Semi Join (Employees in departments that exist in the dept table):")
emp_df.join(dept_df, on="dept_id", how="left_semi").show()

--- Spark Session Created ---

Employee DataFrame:
+------+--------+-------+
|emp_id|    name|dept_id|
+------+--------+-------+
|     1|   Smith|     10|
|     2|    Rose|     20|
|     3|Williams|     10|
|     4|   Jones|     30|
|     5|   Brown|     50|
+------+--------+-------+

Department DataFrame:
+---------+-------+
|dept_name|dept_id|
+---------+-------+
|  Finance|     10|
|Marketing|     20|
|    Sales|     30|
|       IT|     40|
+---------+-------+


a) Left Anti Join (Employees in departments not in the dept table):
+-------+------+-----+
|dept_id|emp_id| name|
+-------+------+-----+
|     50|     5|Brown|
+-------+------+-----+


b) Self Join (Find pairs of employees in the same department):
+-----+--------+-------+
| emp1|    emp2|dept_id|
+-----+--------+-------+
|Smith|Williams|     10|
+-----+--------+-------+


c) Left Semi Join (Employees in departments that exist in the dept table):
+-------+------+--------+
|dept_id|emp_id|    name|
+-------+------+--------+
|     10|     1|   Smith|
|     20|     2|    Rose|
|     30|     4|   Jones|
|     10|     3|Williams|
+-------+------+--------+

In [39]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Step 1: Initialize Spark
spark = SparkSession.builder.appName("PYQ1").getOrCreate()

# Step 2: Create Employee DataFrame
employee_data = [
    (1, "John", 101),
    (2, "Alice", 102),
    (3, "Bob", 103),
    (4, "Mary", 104)
]
employee_df = spark.createDataFrame(employee_data, ["EmpID", "EmpName", "DeptID"])

# Step 3: Create Department DataFrame
dept_data = [
    (101, "HR"),
    (102, "IT"),
    (105, "Finance")
]
dept_df = spark.createDataFrame(dept_data, ["DeptID", "DeptName"])

# Display
print("Employee DF")
employee_df.show()
print("Department DF")
dept_df.show()

# a) Left Anti Join
left_anti_df = employee_df.join(dept_df, on="DeptID", how="left_anti")
print("Left Anti Join (Employees without dept match):")
left_anti_df.show()

# b) Self Join on Employee DF
self_join_df = employee_df.alias("e1").join(
    employee_df.alias("e2"),
    col("e1.DeptID") == col("e2.DeptID")
)
print("Self Join on DeptID:")
self_join_df.show()

# c) Left Semi Join
left_semi_df = employee_df.join(dept_df, on="DeptID", how="left_semi")
print("Left Semi Join (Employees with matching DeptID):")
left_semi_df.show()

Employee DF
+-----+-------+------+
|EmpID|EmpName|DeptID|
+-----+-------+------+
|    1|   John|   101|
|    2|  Alice|   102|
|    3|    Bob|   103|
|    4|   Mary|   104|
+-----+-------+------+

Department DF
+------+--------+
|DeptID|DeptName|
+------+--------+
|   101|      HR|
|   102|      IT|
|   105| Finance|
+------+--------+

Left Anti Join (Employees without dept match):
+------+-----+-------+
|DeptID|EmpID|EmpName|
+------+-----+-------+
|   104|    4|   Mary|
|   103|    3|    Bob|
+------+-----+-------+

Self Join on DeptID:
+-----+-------+------+-----+-------+------+
|EmpID|EmpName|DeptID|EmpID|EmpName|DeptID|
+-----+-------+------+-----+-------+------+
|    1|   John|   101|    1|   John|   101|
|    2|  Alice|   102|    2|  Alice|   102|
|    4|   Mary|   104|    4|   Mary|   104|
|    3|    Bob|   103|    3|    Bob|   103|
+-----+-------+------+-----+-------+------+

Left Semi Join (Employees with matching DeptID):
+------+-----+-------+
|DeptID|EmpID|EmpName|
+------+-----+-------+
|   101|    1|   John|
|   102|    2|  Alice|
+------+-----+-------+

In [40]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

# a) Define Case Classes as Schema
# Student
student_schema = StructType([
    StructField("StudentID", IntegerType(), True),
    StructField("StudentName", StringType(), True),
    StructField("Age", IntegerType(), True)
])

# Address
address_schema = StructType([
    StructField("StudentID", IntegerType(), True),
    StructField("City", StringType(), True),
    StructField("State", StringType(), True)
])

# b) Create DataFrames using schema
student_data = [(1, "John", 20), (2, "Alice", 21), (3, "Bob", 19)]
address_data = [(1, "Mumbai", "MH"), (2, "Delhi", "DL"), (3, "Kolkata", "WB")]

student_df = spark.createDataFrame(student_data, student_schema)
address_df = spark.createDataFrame(address_data, address_schema)

# Display
print("Student DF")
student_df.show()
print("Address DF")
address_df.show()

Student DF
+---------+-----------+---+
|StudentID|StudentName|Age|
+---------+-----------+---+
|        1|       John| 20|
|        2|      Alice| 21|
|        3|        Bob| 19|
+---------+-----------+---+

Address DF
+---------+-------+-----+
|StudentID|   City|State|
+---------+-------+-----+
|        1| Mumbai|   MH|
|        2|  Delhi|   DL|
|        3|Kolkata|   WB|
+---------+-------+-----+

In [38]:
# 2. # Assuming the SparkSession 'spark' is already created from the previous question.
from pyspark.sql import Row
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
# --- EXPLANATION --- # "Case classes" are a feature of the Scala language. They provide a concise way to define
# classes that are primarily used for holding data. Spark can automatically infer a schema fromtheminScala. #
# The direct equivalent in Python is to use a standard Python class or, more commonly, # to define the schema explicitly using StructType and StructField.
# This practical demonstrates the PySpark way of achieving the same goal.
# --- SOLUTION --- # a) Equivalent of creating "case classes" # In Python, we can represent the data structure using standard classes or dictionaries.
# Here, we'll represent the data as nested Row objects, which is a common pattern.
student_data = [
Row(name="John", age=20, address=Row(city="New York", zip_code="10001")), Row(name="Jane", age=22, address=Row(city="Los Angeles", zip_code="90001"))
]
# b) Create schema from the data structure
# We explicitly define the schema to match our data structure.
address_schema = StructType([
StructField("city", StringType(), True), StructField("zip_code", StringType(), True)
])
student_schema = StructType([
StructField("name", StringType(), True), StructField("age", IntegerType(), True), StructField("address", address_schema, True)
])
print("b) Explicitly created schema:")
student_schema.prettyJson()
# Now, create a DataFrame using this data and schema
student_df = spark.createDataFrame(student_data, student_schema)
print("\nDataFrame created from the schema:")
student_df.show(truncate=False)
student_df.printSchema()

b) Explicitly created schema:

AttributeError: 'StructType' object has no attribute 'prettyJson'

In [41]:
# 1 Create a data frame with data that follows the below given schema
# emp_id, dept, properties (a structure containing salary and location) Return
# the map keys from spark SQL for this data frame
# 202 For the following employee data showing name, dept and salary, performthe
# given operations:
# Data: ("James", "Sales", 3000), ("Michael", "Sales", 4600), ("Robert", "Sales", 4100), ("Maria", "Finance", 3000), ("James", "Sales", 3000), ("Scott", "Finance", 3300), ("Jen", "Finance", 3900), ("Jeff", "Marketing", 3000), ("Kumar", "Marketing", 2000), ("Saif", "Sales", 4100), (Jason", "Sales", 9000), ("Alice", "Finance", 3700), ("Jenniffer", "Finance", 8900), ("Jenson", "Marketing", 9000)
# a) Create a data frame for the above data
# b) Find the highest salary value
# c) Find the lowest salary value
# d) Find the standard deviation for the salary


from pyspark.sql import SparkSession, Row
from pyspark.sql.functions import col
spark = SparkSession.builder.appName("PracticalExam_Slip7_Q1").getOrCreate()
print("--- Spark Session Created ---\n")
# --- EXPLANATION --- # The question asks to "Return the map keys", but the `properties` column is a struct, not a map.
# A struct has fixed fields (like keys), while a map can have arbitrary key-value pairs.
# The correct interpretation is to access the fields of the struct, not "map keys".
 # --- SETUP --- # Create a DataFrame with a struct column
data = [
(1, "Finance", Row(salary=90000, location="New York")), (2, "Marketing", Row(salary=80000, location="Chicago")), (3, "Sales", Row(salary=120000, location="New York"))
]
df = spark.createDataFrame(data, ["emp_id", "dept", "properties"])
print("Original DataFrame with Struct column:")
df.show(truncate=False)
df.printSchema()
# --- SOLUTION --- # Access the fields of the 'properties' struct
print("\nAccessing the fields ('keys') of the 'properties' struct:")
df.select(
col("emp_id"), col("properties.salary"), col("properties.location")
).show()

--- Spark Session Created ---

Original DataFrame with Struct column:
+------+---------+------------------+
|emp_id|dept     |properties        |
+------+---------+------------------+
|1     |Finance  |{90000, New York} |
|2     |Marketing|{80000, Chicago}  |
|3     |Sales    |{120000, New York}|
+------+---------+------------------+

root
 |-- emp_id: long (nullable = true)
 |-- dept: string (nullable = true)
 |-- properties: struct (nullable = true)
 |    |-- salary: long (nullable = true)
 |    |-- location: string (nullable = true)


Accessing the fields ('keys') of the 'properties' struct:
+------+------+--------+
|emp_id|salary|location|
+------+------+--------+
|     1| 90000|New York|
|     2| 80000| Chicago|
|     3|120000|New York|
+------+------+--------+

In [42]:
# Assuming the SparkSession 'spark' is already created from the previous question. from pyspark.sql.functions import max, min, stddev
# --- SETUP --- # The provided data has a typo `(Jason"`, which has been corrected to `("Jason"`.
employee_data = [
("James", "Sales", 3000), ("Michael", "Sales", 4600), ("Robert", "Sales", 4100), ("Maria", "Finance", 3000), ("James", "Sales", 3000), ("Scott", "Finance", 3300), ("Jen", "Finance", 3900), ("Jeff", "Marketing", 3000), ("Kumar", "Marketing", 2000), ("Saif", "Sales", 4100), ("Jason", "Sales", 9000), ("Alice", "Finance", 3700), ("Jenniffer", "Finance", 8900), ("Jenson", "Marketing", 9000)
]
columns = ["name", "department", "salary"]
# --- SOLUTION --- # a) Create a data frame for the above data
emp_df = spark.createDataFrame(employee_data, columns)
print("a) Employee DataFrame:")
emp_df.show()
# b) Find the highest salary value
print("\nb) Highest Salary:")
emp_df.select(max("salary").alias("highest_salary")).show()
# c) Find the lowest salary value
print("\nc) Lowest Salary:")
emp_df.select(min("salary").alias("lowest_salary")).show()
# d) Find the standard deviation for the salary
print("\nd) Standard Deviation of Salary:")
emp_df.select(stddev("salary").alias("stddev_salary")).show()

a) Employee DataFrame:
+---------+----------+------+
|     name|department|salary|
+---------+----------+------+
|    James|     Sales|  3000|
|  Michael|     Sales|  4600|
|   Robert|     Sales|  4100|
|    Maria|   Finance|  3000|
|    James|     Sales|  3000|
|    Scott|   Finance|  3300|
|      Jen|   Finance|  3900|
|     Jeff| Marketing|  3000|
|    Kumar| Marketing|  2000|
|     Saif|     Sales|  4100|
|    Jason|     Sales|  9000|
|    Alice|   Finance|  3700|
|Jenniffer|   Finance|  8900|
|   Jenson| Marketing|  9000|
+---------+----------+------+


b) Highest Salary:
+--------------+
|highest_salary|
+--------------+
|          9000|
+--------------+


c) Lowest Salary:
+-------------+
|lowest_salary|
+-------------+
|         2000|
+-------------+


d) Standard Deviation of Salary:
+-----------------+
|    stddev_salary|
+-----------------+
|2444.729698085925|
+-----------------+

In [43]:
# 1 Create a data frame with a nested array column. Perform the following
# operations:
# a) Flatten nested array
# b) Explode nested array
# c) Convert array of string to string column.

# 2 a) Create data frame with a column that contains JSON string.
# b) Convert the JSON string into Struct type or Map type.
# c) Extract the Data from JSON and create them as new columns.
# d) Convert MapType or Struct type to JSON string

from pyspark.sql import SparkSession
from pyspark.sql.functions import col, flatten, explode, concat_ws
from pyspark.sql.types import StructType, StructField, StringType, ArrayType
spark = SparkSession.builder.appName("PracticalExam_Slip8_Q1").getOrCreate()
print("--- Spark Session Created ---\n")
# --- SETUP --- # Create the DataFrame with a nested array
data = [
("James", [["Java", "Scala", "C++"], ["Spark", "Java"]]), ("Michael", [["Spark", "Java", "C++"], ["Spark", "Java"]]), ("Robert", [["CSharp", "VB"], ["Spark", "Python"]])
]
schema = StructType([
StructField("name", StringType(), True), StructField("subjects", ArrayType(ArrayType(StringType())), True)
])
df = spark.createDataFrame(data, schema)
print("Original DataFrame with nested array:")
df.show(truncate=False)
# --- SOLUTION ---
# a) Flatten nested array
print("\na) Flattened nested array:")
df_a = df.withColumn("subjects_flat", flatten(col("subjects")))
df_a.show(truncate=False)
# b) Explode nested array
print("\nb) Exploded nested array to rows:")
# To get individual elements, you must flatten first.
df_b = df_a.withColumn("subject", explode(col("subjects_flat")))
df_b.show(truncate=False)
# c) Convert array of string to string column
print("\nc) Converted array to a single string column:")
df_c = df_a.withColumn("subjects_string", concat_ws(", ", col("subjects_flat")))
df_c.show(truncate=False)

--- Spark Session Created ---

Original DataFrame with nested array:
+-------+-----------------------------------+
|name   |subjects                           |
+-------+-----------------------------------+
|James  |[[Java, Scala, C++], [Spark, Java]]|
|Michael|[[Spark, Java, C++], [Spark, Java]]|
|Robert |[[CSharp, VB], [Spark, Python]]    |
+-------+-----------------------------------+


a) Flattened nested array:
+-------+-----------------------------------+-------------------------------+
|name   |subjects                           |subjects_flat                  |
+-------+-----------------------------------+-------------------------------+
|James  |[[Java, Scala, C++], [Spark, Java]]|[Java, Scala, C++, Spark, Java]|
|Michael|[[Spark, Java, C++], [Spark, Java]]|[Spark, Java, C++, Spark, Java]|
|Robert |[[CSharp, VB], [Spark, Python]]    |[CSharp, VB, Spark, Python]    |
+-------+-----------------------------------+-------------------------------+


b) Exploded nested array to rows:
+-------+-----------------------------------+-------------------------------+-------+
|name   |subjects                           |subjects_flat                  |subject|
+-------+-----------------------------------+-------------------------------+-------+
|James  |[[Java, Scala, C++], [Spark, Java]]|[Java, Scala, C++, Spark, Java]|Java   |
|James  |[[Java, Scala, C++], [Spark, Java]]|[Java, Scala, C++, Spark, Java]|Scala  |
|James  |[[Java, Scala, C++], [Spark, Java]]|[Java, Scala, C++, Spark, Java]|C++    |
|James  |[[Java, Scala, C++], [Spark, Java]]|[Java, Scala, C++, Spark, Java]|Spark  |
|James  |[[Java, Scala, C++], [Spark, Java]]|[Java, Scala, C++, Spark, Java]|Java   |
|Michael|[[Spark, Java, C++], [Spark, Java]]|[Spark, Java, C++, Spark, Java]|Spark  |
|Michael|[[Spark, Java, C++], [Spark, Java]]|[Spark, Java, C++, Spark, Java]|Java   |
|Michael|[[Spark, Java, C++], [Spark, Java]]|[Spark, Java, C++, Spark, Java]|C++    |
|Michael|[[Spark, Java, C++], [Spark, Java]]|[Spark, Java, C++, Spark, Java]|Spark  |
|Michael|[[Spark, Java, C++], [Spark, Java]]|[Spark, Java, C++, Spark, Java]|Java   |
|Robert |[[CSharp, VB], [Spark, Python]]    |[CSharp, VB, Spark, Python]    |CSharp |
|Robert |[[CSharp, VB], [Spark, Python]]    |[CSharp, VB, Spark, Python]    |VB     |
|Robert |[[CSharp, VB], [Spark, Python]]    |[CSharp, VB, Spark, Python]    |Spark  |
|Robert |[[CSharp, VB], [Spark, Python]]    |[CSharp, VB, Spark, Python]    |Python |
+-------+-----------------------------------+-------------------------------+-------+


c) Converted array to a single string column:
+-------+-----------------------------------+-------------------------------+-----------------------------+
|name   |subjects                           |subjects_flat                  |subjects_string              |
+-------+-----------------------------------+-------------------------------+-----------------------------+
|James  |[[Java, Scala, C++], [Spark, Java]]|[Java, Scala, C++, Spark, Java]|Java, Scala, C++, Spark, Java|
|Michael|[[Spark, Java, C++], [Spark, Java]]|[Spark, Java, C++, Spark, Java]|Spark, Java, C++, Spark, Java|
|Robert |[[CSharp, VB], [Spark, Python]]    |[CSharp, VB, Spark, Python]    |CSharp, VB, Spark, Python    |
+-------+-----------------------------------+-------------------------------+-----------------------------+

In [44]:
2. # Assuming the SparkSession 'spark' is already created from the previous question.
from pyspark.sql.functions import from_json, to_json, col, struct
from pyspark.sql.types import StructType, StructField, StringType
# --- SOLUTION --- # a) Create DataFrame with a JSON string column
json_data = [
(1, '{"name":"Alice", "city":"New York"}'), (2, '{"name":"Bob", "city":"Los Angeles"}')
]
json_df = spark.createDataFrame(json_data, ["id", "json_str"])
print("a) DataFrame with a JSON string column:")
json_df.show(truncate=False)
# b) Convert the JSON string into Struct type
# Define the schema that matches the JSON structure
json_schema = StructType([
StructField("name", StringType(), True), StructField("city", StringType(), True)
])
df_with_struct = json_df.withColumn("parsed_struct", from_json(col("json_str"), json_schema))
print("\nb) DataFrame with JSON converted to a StructType column:")
df_with_struct.printSchema()
df_with_struct.show(truncate=False)
# c) Extract the Data from JSON and create them as new columns
df_extracted = df_with_struct.withColumn("name", col("parsed_struct.name")) \
.withColumn("city", col("parsed_struct.city"))
print("\nc) DataFrame with JSON data extracted into new columns:")
df_extracted.select("id", "name", "city").show()
# d) Convert Struct type to JSON string
df_converted_back = df_extracted.withColumn("new_json_str", to_json(struct("name", "city")))
print("\nd) DataFrame with columns converted back to a JSON string:")
df_converted_back.select("id", "new_json_str").show(truncate=False)

a) DataFrame with a JSON string column:
+---+------------------------------------+
|id |json_str                            |
+---+------------------------------------+
|1  |{"name":"Alice", "city":"New York"} |
|2  |{"name":"Bob", "city":"Los Angeles"}|
+---+------------------------------------+


b) DataFrame with JSON converted to a StructType column:
root
 |-- id: long (nullable = true)
 |-- json_str: string (nullable = true)
 |-- parsed_struct: struct (nullable = true)
 |    |-- name: string (nullable = true)
 |    |-- city: string (nullable = true)

+---+------------------------------------+------------------+
|id |json_str                            |parsed_struct     |
+---+------------------------------------+------------------+
|1  |{"name":"Alice", "city":"New York"} |{Alice, New York} |
|2  |{"name":"Bob", "city":"Los Angeles"}|{Bob, Los Angeles}|
+---+------------------------------------+------------------+


c) DataFrame with JSON data extracted into new columns:
+---+-----+-----------+
| id| name|       city|
+---+-----+-----------+
|  1|Alice|   New York|
|  2|  Bob|Los Angeles|
+---+-----+-----------+


d) DataFrame with columns converted back to a JSON string:
+---+-----------------------------------+
|id |new_json_str                       |
+---+-----------------------------------+
|1  |{"name":"Alice","city":"New York"} |
|2  |{"name":"Bob","city":"Los Angeles"}|
+---+-----------------------------------+

In [46]:
# Create a Spark RDD using 5 different Functions

# 2 Write example for following Spark RDD Actions:
# a. aggregate b. treeAggregate
# d. reduce e. collect
# c. fold

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("PracticalExam_Slip9_Q1").getOrCreate()
sc = spark.sparkContext
print("--- Spark Session Created ---\n")
# --- SETUP --- # Create a sample text file
with open("sample_rdd.txt", "w") as f:
  f.write("line one\n")
  f.write("line two\n")
  f.write("line three\n")
  print("--- Sample file for RDD creation created ---\n")
# --- SOLUTION --- print("--- Creating RDDs using 5 different methods ---\n")
# 1. Using sc.parallelize() on a list
list_data = [1, 2, 3, 4, 5]
rdd1 = sc.parallelize(list_data)
print("1. RDD from a Python list (parallelize):")
print(rdd1.collect())
# 2. Using sc.textFile() to read a text file
rdd2 = sc.textFile("sample_rdd.txt")
print("\n2. RDD from a text file (textFile):")
print(rdd2.collect())
# 3. Using sc.range()
rdd3 = sc.range(1, 6) # Creates an RDD with elements 1, 2, 3, 4, 5
print("\n3. RDD from a range (range):")
print(rdd3.collect())
# 4. By transforming an existing RDD (e.g., using map)
rdd4 = rdd1.map(lambda x: x * x)
print("\n4. RDD by transforming another RDD (map):")
print(rdd4.collect())
# 5. From a DataFrame
df = spark.createDataFrame([("a", 1), ("b", 2)], ["letter", "number"])
rdd5 = df.rdd
print("\n5. RDD from a DataFrame (.rdd):")
print(rdd5.collect())

--- Spark Session Created ---

--- Sample file for RDD creation created ---

1. RDD from a Python list (parallelize):
[1, 2, 3, 4, 5]

2. RDD from a text file (textFile):
['line one', 'line two', 'line three']

3. RDD from a range (range):
[1, 2, 3, 4, 5]

4. RDD by transforming another RDD (map):
[1, 4, 9, 16, 25]

5. RDD from a DataFrame (.rdd):
[Row(letter='a', number=1), Row(letter='b', number=2)]

In [47]:
# Assuming the SparkContext 'sc' is already created from the previous question.
# --- SETUP ---
rdd = sc.parallelize([1, 2, 3, 4, 5])
print("Using the following RDD for actions:", rdd.collect())
# --- SOLUTION --- # a) aggregate
# Action: Sums elements and adds an initial value to each partition and then to the final result.
 # (sum_of_elements + initial_value * num_partitions) + initial_value
# Here: (1+2+3+4+5) -> 15. Let's assume 2 partitions. # Partition 1: 1+2 -> 3. Partition 2: 3+4+5 -> 12.
# Add initial value 10 to each partition sum: (3+10) + (12+10) = 45
seqOp = (lambda x, y: x + y)
combOp = (lambda x, y: x + y)
agg_result = rdd.aggregate(0, seqOp, combOp) # Using 0 as initial value is same as reduce
print("\na) aggregate (sum):", agg_result)
# b) treeAggregate
# Similar to aggregate but performs aggregation in a tree-like pattern, which is more efficient for large datasets.
tree_agg_result = rdd.treeAggregate(0, seqOp, combOp)
print("\nb) treeAggregate (sum):", tree_agg_result)
# c) fold
# Similar to reduce but takes a "zero value" to be used for the initial call in each partition.
fold_result = rdd.fold(0, lambda x, y: x + y)
print("\nc) fold (sum):", fold_result)
# d) reduce
# Aggregates the elements of the RDD using a specified commutative and associative binary operator.
reduce_result = rdd.reduce(lambda x, y: x + y)
print("\nd) reduce (sum):", reduce_result)
# e) collect
# Returns all the elements of the RDD as a list to the driver program.
collect_result = rdd.collect()
print("\ne) collect:", collect_result)

Using the following RDD for actions: [1, 2, 3, 4, 5]

a) aggregate (sum): 15

b) treeAggregate (sum): 15

c) fold (sum): 15

d) reduce (sum): 15

e) collect: [1, 2, 3, 4, 5]

In [49]:
# 1 Write example for following Spark RDD Actions:
# a. count b. countApproxDistinct
# c. first d. top e. Min
# 2 Write Spark Pair RDD Functions.

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("PracticalExam_Slip10_Q1").getOrCreate()
sc = spark.sparkContext
print("--- Spark Session Created ---\n")
# --- SETUP ---
rdd = sc.parallelize([2, 5, 1, 3, 4, 2, 5])
print("Using the following RDD for actions:", rdd.collect())
# --- SOLUTION --- # a) count
# Returns the number of elements in the RDD.
count_result = rdd.count()
print("\na) count:", count_result)
# b) countApproxDistinct
# Returns the approximate number of distinct elements. Useful for large datasets.
approx_distinct_result = rdd.countApproxDistinct()
print("\nb) countApproxDistinct:", approx_distinct_result)
# Note: The exact distinct count is 5 (1, 2, 3, 4, 5)
# c) first
# Returns the first element of the RDD.
first_result = rdd.first()
print("\nc) first:", first_result)
# d) top
# Returns the top n elements from an RDD, ordered in descending order.
top_3_result = rdd.top(3)
print("\nd) top(3):", top_3_result)
# e) min
# Returns the minimum element of the RDD.
min_result = rdd.min()
print("\ne) min:", min_result)

--- Spark Session Created ---

Using the following RDD for actions: [2, 5, 1, 3, 4, 2, 5]

a) count: 7

b) countApproxDistinct: 5

c) first: 2

d) top(3): [5, 5, 4]

e) min: 1

In [50]:
# Assuming the SparkContext 'sc' is already created from the previous question.
# --- SETUP --- # A Pair RDD is an RDD where each element is a key-value tuple.
 # Let's create a sample Pair RDD.
data = [("apple", 1), ("banana", 2), ("apple", 3), ("orange", 4), ("banana", 5)]
pair_rdd = sc.parallelize(data)
print("Using the following Pair RDD:", pair_rdd.collect())
# --- SOLUTION --- # Here are examples of common Pair RDD functions.
# 1. reduceByKey()
# Merges the values for each key using an associative and commutative reduce function.
print("\n1. reduceByKey (sum of values for each key):")
reduced_rdd = pair_rdd.reduceByKey(lambda a, b: a + b)
print(reduced_rdd.collect())
# 2. groupByKey()
# Groups the values for each key in the RDD into a single sequence.
print("\n2. groupByKey:")
grouped_rdd = pair_rdd.groupByKey()
# The result contains an iterable object, so we map it to a list for printing.
print(grouped_rdd.mapValues(list).collect())
# 3. sortByKey()
# Sorts the RDD by key.
print("\n3. sortByKey (ascending):")
sorted_rdd = pair_rdd.sortByKey()
print(sorted_rdd.collect())
# 4. keys() and values()
# Return an RDD of just the keys or just the values.
print("\n4. keys() and values():")
keys_rdd = pair_rdd.keys()
values_rdd = pair_rdd.values()
print("Keys:", keys_rdd.collect())
print("Values:", values_rdd.collect())
# 5. join()
# Joins two Pair RDDs based on their keys.
other_data = [("apple", "red"), ("orange", "orange"), ("grape", "purple")]
other_pair_rdd = sc.parallelize(other_data)
print("\n5. join:")
joined_rdd = pair_rdd.join(other_pair_rdd)
print(joined_rdd.collect())

Using the following Pair RDD: [('apple', 1), ('banana', 2), ('apple', 3), ('orange', 4), ('banana', 5)]

1. reduceByKey (sum of values for each key):
[('apple', 4), ('banana', 7), ('orange', 4)]

2. groupByKey:
[('apple', [1, 3]), ('banana', [2, 5]), ('orange', [4])]

3. sortByKey (ascending):
[('apple', 1), ('apple', 3), ('banana', 2), ('banana', 5), ('orange', 4)]

4. keys() and values():
Keys: ['apple', 'banana', 'apple', 'orange', 'banana']
Values: [1, 2, 3, 4, 5]

5. join:
[('apple', (1, 'red')), ('apple', (3, 'red')), ('orange', (4, 'orange'))]

In [51]:
# Get new dates by adding 4 days, and subtracting 7 days in below dates "2020- 01-02","2023-01-15","2025-01-30".
# 2 Use the Operation Read CSV file on RDD with Scala operation

from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_date, date_add, date_sub
spark = SparkSession.builder.appName("PracticalExam_Slip11_Q1").getOrCreate()
print("--- Spark Session Created ---\n")
# --- SETUP --- date_data = ["2020-01-02", "2023-01-15", "2025-01-30"]
df = spark.createDataFrame(date_data, "string").withColumnRenamed("value", "date_str")
# Convert strings to DateType
df = df.withColumn("date", to_date(col("date_str")))
print("Original DataFrame with dates:")
df.show()
# --- SOLUTION --- # Add 4 days to each date
df_plus_4 = df.withColumn("date_plus_4_days", date_add(col("date"), 4))
print("\nDates after adding 4 days:")
df_plus_4.show()
# Subtract 7 days from each date
df_minus_7 = df.withColumn("date_minus_7_days", date_sub(col("date"), 7))
print("\nDates after subtracting 7 days:")
df_minus_7.show()

--- Spark Session Created ---

Original DataFrame with dates:
+----------+----------+
|  date_str|      date|
+----------+----------+
|2022-01-31|2022-01-31|
|2021-03-22|2021-03-22|
|2024-01-31|2024-01-31|
+----------+----------+


Dates after adding 4 days:
+----------+----------+----------------+
|  date_str|      date|date_plus_4_days|
+----------+----------+----------------+
|2022-01-31|2022-01-31|      2022-02-04|
|2021-03-22|2021-03-22|      2021-03-26|
|2024-01-31|2024-01-31|      2024-02-04|
+----------+----------+----------------+


Dates after subtracting 7 days:
+----------+----------+-----------------+
|  date_str|      date|date_minus_7_days|
+----------+----------+-----------------+
|2022-01-31|2022-01-31|       2022-01-24|
|2021-03-22|2021-03-22|       2021-03-15|
|2024-01-31|2024-01-31|       2024-01-24|
+----------+----------+-----------------+

In [53]:
# Assuming the SparkContext 'sc' and SparkSession 'spark' are already created.
# --- EXPLANATION --- # The question asks to use a "Scala operation". In PySpark, we use Python operations (like lambda functions).
# The most common way to read a CSV is with a DataFrame, but to fulfill the "on RDD" requirement,
# we will read the file as a text RDD and then parse it. # --- SETUP --- # Create a sample CSV file
with open("student_data.csv", "w") as f:
  f.write("id,name,score\n")
  f.write("1,Alice,85\n")
  f.write("2,Bob,90\n")
  f.write("3,Cathy,78\n")
  print("--- student_data.csv created successfully ---\n")
# --- SOLUTION --- # 1. Read the CSV file into a text RDD
text_rdd = sc.textFile("student_data.csv")
print("RDD as raw text lines:")
print(text_rdd.collect())
# 2. Get the header and filter it out
header = text_rdd.first()
data_rdd = text_rdd.filter(lambda line: line != header)
print("\nRDD after removing the header:")
print(data_rdd.collect())
# 3. Use an RDD operation (map) to parse the data
# This is the equivalent of a "Scala operation" in PySpark.
parsed_rdd = data_rdd.map(lambda line: line.split(","))
# Convert score to an integer
parsed_rdd = parsed_rdd.map(lambda parts: (int(parts[0]), parts[1], int(parts[2])))
print("\nRDD after parsing and transforming with a map operation:")
print(parsed_rdd.collect())
# Example: Filter for scores above 80
high_scores_rdd = parsed_rdd.filter(lambda x: x[2] > 80)
print("\nResult of another operation (filter for score > 80):")
print(high_scores_rdd.collect())

--- student_data.csv created successfully ---

RDD as raw text lines:
['id,name,score', '1,Alice,85', '2,Bob,90', '3,Cathy,78']

RDD after removing the header:
['1,Alice,85', '2,Bob,90', '3,Cathy,78']

RDD after parsing and transforming with a map operation:
[(1, 'Alice', 85), (2, 'Bob', 90), (3, 'Cathy', 78)]

Result of another operation (filter for score > 80):
[(1, 'Alice', 85), (2, 'Bob', 90)]